{% extends "base.html" %}
{% block content %}
<div class="hau-card">
    <div class="tablesubheading">Common Holiday Master</div>
    <div style="padding: 15px;">
        <form method="POST">
            <input type="hidden" name="id" id="h_id">
            <table class="form-table">
                <tr>
                    <td class="vtext" width="15%">Holiday Name</td><td class="colon">:</td>
                    <td><input type="text" name="name" id="h_name" class="textbox" style="width: 250px;" required></td>
                    <td class="vtext" width="15%">Holiday Type</td><td class="colon">:</td>
                    <td>
                        <select name="type_id" id="h_type" class="dropdown" style="width: 200px;" required>
                            {% for t in types %}
                            <option value="{{ t.id }}">{{ t.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="vtext">Display Order</td><td class="colon">:</td>
                    <td><input type="number" name="order" id="h_order" class="textbox" value="1" style="width: 100px;"></td>
                    <td class="vtext">Remarks</td><td class="colon">:</td>
                    <td><input type="text" name="remarks" id="h_remarks" class="textbox" style="width: 250px;"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="4" style="padding-top: 15px;">
                        <input type="submit" value="SAVE HOLIDAY" class="button-common">
                        <input type="reset" value="RESET" class="button-common" style="margin-left: 10px;">
                    </td>
                </tr>
            </table>
        </form>

        <div style="margin-top: 25px;">
            <table class="table-grid-view">
                <thead>
                    <tr class="header-style">
                        <td width="60">Order</td><td>Holiday Name</td><td>Type</td><td>Remarks</td><td width="60">Edit</td>
                    </tr>
                </thead>
                <tbody>
                    {% for h in holidays %}
                    <tr class="{% if loop.index % 2 == 0 %}item-style-alt{% else %}item-style{% endif %}">
                        <td align="center">{{ h.displayorder }}</td>
                        <td>{{ h.commonholiday }}</td>
                        <td>{{ h.holidaytype }}</td>
                        <td>{{ h.remarks or '' }}</td>
                        <td align="center">
                            <img src="{{ url_for('static', filename='images/Edit.gif') }}" style="cursor:pointer" onclick="editH('{{ h.pk_commonholidayid }}', '{{ h.commonholiday }}', '{{ h.fk_holidaytypeid }}', '{{ h.displayorder }}', '{{ h.remarks or '' }}')">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
function editH(id, name, type, order, remarks) {
    document.getElementById('h_id').value = id;
    document.getElementById('h_name').value = name;
    document.getElementById('h_type').value = type;
    document.getElementById('h_order').value = order;
    document.getElementById('h_remarks').value = remarks;
}
</script>
{% endblock %}