@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
.logowrap{width:46px; height:47px; float:left;}

.headerq h1 {
    border: medium none;
    color: #355BA5;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 0 0;
}
.wel-txt {
    color: #AC0F34;
    float: right; 
    font-size: 13px;
    font-weight: bold; 
    margin-left: 0; 
    padding: 10px 10px 0 0;
    text-align: right;
    width: 290px;
}
.wel-txt a{font-size:13px; font-weight:bold;}
.links span{display:block; float:left; margin:5px 10px 0 10px;}
.wr-right h5{font-size:12px;}
.wr-right h4{font-size:14px;}
.wr-left h3 span{color:#64ad34;}
.new-table{border-collapse:collapse; border:1px solid #e3e3e3;}
.new-table .vtext{font-family:arial; text-align:right; font-size:12px;}
.new-table td{border:1px solid #e3e3e3; padding:5px 5px;}

.new-table td td {
    border: 0 none; 
    font-size: 12px;
    padding: 0;
}

.new-table .portalbox, .new-table .date-box{font-size:11px; width:180px; border:1px solid #89adbf; padding:1px;}
.new-table .portalbox1{font-size:11px; width:200px; border:1px solid #89adbf; padding:1px;}
.new-table .portaldown{font-size:11px; height:18px; width:146px; border:1px solid #89adbf;}
.new-table .portaldown1{font-size:11px; height:18px; width:175px; border:1px solid #89adbf;}

.new-table .portaldown-1{height:18px; width:190px; font-size:11px; border:1px solid #89adbf;}
.new-table .portaldown-2{height:18px; width:310px; font-size:11px; border:1px solid #89adbf;}
.new-table .textboxdate{width:110px!important;}

.num-ic{background:url(images/num-ic.jpg) no-repeat 0 0; height:19px; width:19px; margin-right:10px; display:block; float:left; line-height:17px; color:#FFFFFF!important; font-size:14px; text-align:center; font-weight:bold;}
.pagebg h3{color:#096db3; font-weight:bold; font-size:20px; padding-left:20px; float:left;}

.frm{font-size:14px; padding-left:13px;}
.inp{background:#fafafa; border:1px solid #9a9a9a; width:350px; padding:3px 5px; margin-top:8px; }
 
.sep{background:url(online/sep.jpg) repeat-x  0 0; height:36px;}

.btn{border:1px solid #878d59; background:url(online/btnbg.jpg) repeat-x 0 0; height:32px; color:#000000; font-size:14px; font-weight:bold; margin-left:10px; width:100px;}

.ar{background:url(online/ar.jpg) no-repeat 3px 0; padding:0 0 0 50px; font-size:12px; color:#777575; width:200px; float:left;}

.ar h4{color:#64ad34; font-size:17px; padding-bottom:10px;}
.ar h5{color:#096db3; font-size:13px;}
.ar h5 a{color:#096db3; font-size:13px;}
.ar h5 a:hover{color:#921212; text-decoration:none;} 
 
h5 a{color:#096db3; font-size:13px; margin-bottom:5px;}
h5 a:hover{color:#000; text-decoration:none;}

.abtus{width:620px; float:left; background:url(online/hmbg.jpg) repeat-y 0 0; margin-bottom:15px;}
.abtus-tp{width:620px; float:left; background:url(online/hm-bot.jpg) no-repeat; height:15px; }
.abtus-bt{width:600px; float:left; background:url(online/hm-tp.jpg) no-repeat left bottom; padding:10px 10px 280px 10px;}
.abtus-bt h2{color:#4b7990; font-size:18px; margin-bottom:10px!important; padding-bottom:0!important;}
.abtus-bt p{color:#2e2e2e; font-size:13px; text-align:justify; margin-top:10px!important; line-height:18px;}

.portal-log {
    background: url("images/candidatelogin.png") no-repeat scroll 0 0 transparent;
    height: 514px;
    margin: 4% auto 0;
    padding: 10px 20px;
    width: 674px;
}
.pot-tp{ width:100%; float:left; min-height:515px; position:relative;}

.labell{position:absolute; top:10px; right:30px; font-size:12px; font-weight:bold; text-align:right;}
.labell span{color:#3d6bac; display:block; padding-bottom:10px; font-size:13px;}
.pot-tp h2{ font-size:17px; color:#000; padding-left:15px; line-height:30px; height:30px;}

.pot-tp .frmss {
    float: left;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    width: 350px;
}
#btnLogin1 {
    background: none repeat scroll 0 0 #4FA0F2;
    border: 1px solid #3682CF;
    color: #FFFFFF;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    padding: 4px 5px;
}
.pot-tp .frmss a{font-size:12px; color:#0870c0;}
.pot-tp .frmss a:hover{text-decoration:none; color:#000000;}

.pop-right {
    float: left;
    font-size: 12px;
    font-weight: bold; 
    margin-top: -34px;
    width: 309px;
}
.pot-tp table tr td {
    padding: 0;
}
.newbtn1, .genratechallanbtn a {
    background: url("images/submit-btn-bg.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #0F6388;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    width: 130px;
}
.pot-tp table tr .genratechallanbtn {
    padding-top: 12px;
}
.genratechallanbtn span {
    color: red;
    float: left;
    font-size: 11px;
    font-weight: normal;
    width: 100%;
}
.frmss .loginfailed {
    bottom: -14px;
    left: 125px;
    position: absolute;
}
.pop-right a, .pop-right a:hover{color:#ffffff;}

.pop-right .btn1{background:url(online/btn-bg.jpg) repeat-x 2px center; border:1px solid #d56e00;  margin-top:15px;}
.un-ic{background:#fff; border:1px #c6c6c6 solid; padding:2px 3px 2px 15px; width:220px;}

.btn1{background:url(online/btn-bg.jpg) repeat-x 2px center; border:1px solid #d56e00;  }
.newbtn2{background:url(online/new-btn.jpg) repeat-x 0 0; border:1px solid #239cda; float:left; display:block; text-align:center;  color:#000000; text-decoration:none; font-weight:bold; padding:0px 10px; width:160px; }

.logout-wp{width:561px; height:169px; background:url(online/logout-bg.jpg) no-repeat 0 0; padding:19px 0 0 47px; margin:20% 26%;}
.logout-wp h1{font-size:16px;}
.logout-wp .log-ic{ background:url(online/log-ic1.jpg) no-repeat 0 0; height:84px; margin-top:30px; margin-left:10px; width:400px; padding:0px 0 0 70px; line-height:25px; font-size:12px; font-weight:bold;}
.logout-wp .newbtn1{background:url(online/new-btn.jpg) repeat-x 0 0;  border:1px solid #70d2ef; display:block; width:180px; margin-top:10px; text-align:center;  color:#000000; text-decoration:none; float:left;}

.dwn{background-color:#f4f4f4;  border:1px solid #c6c6c6; padding:5px; width:243px;}
.dwn a{color:#096db3;  background:url(online/li.jpg) no-repeat left 5px; padding-left:15px; margin-bottom:10px;}
.thnks{width:587px; float:left; background:#ecf9ff url(images/succ.jpg) no-repeat right center; border:1px solid #94cee8; padding:15px; min-height:200px;}.thnks h3{color:#1a6ca5; font-size:16px;}
.msgs{color:#555; background:#ddd; font-size:11px;}
.forgortpas{border:1px solid #a7d0dc; margin:15% auto; width:580px; background:url(online/lock.jpg) no-repeat right 10px #fff; padding:10px; }
.forgortpas .button-common{background:url(online/new-btn.jpg) repeat-x 0 0; border:1px solid #239cda; float:left; display:block; text-align:center;  color:#000000; text-decoration:none; font-weight:bold; padding:0 10px; }
.forgortpas h2{ font-size:17px; color:#000; line-height:30px; height:30px;}

.fllft{float:left; margin-right:10px;}
 
.w50{width:70px;}
.item-style td{padding:3px!important; border: 1px solid #C2C2C2;}
.item-style1 td{padding:0px!important;border: 1px solid #C2C2C2;}
.item-style td p {
    padding:0;
}
.gridalternativerowstyle td, .gridselectedrowstyle td {padding:5px!important;border: 1px solid #c2c2c2;}
.fllft label{padding:0 5px;}
.titlename {
    float: left;
    font-size: 14px;
    font-weight: bold; 
    margin-bottom: 5px;
    padding-top: 72px;
    width: 100%;
}
.titlename span {
    float: left;
    width: 320px;
    padding-left:10px;
}
.titlename a {
    float: right;
    padding-right:10px;
    font-size: 14px;
    text-decoration: underline;
}
.onlineffoter {
    bottom: 10px;
    float: left;
    position: absolute;
    left:0;
    text-align: center;
    width: 100%;
}
.loginlogoimg {
    margin-bottom: 10px;
    text-align: center;
}
.adminstudentlogin {
    float: right;
    padding-right: 10px;
    padding-top: 24px;
    width: 370px;
}
.adminstudentlogin ul {
    float: right;
    list-style: none outside none;
}
.adminstudentlogin ul li {
    float: left;
    font-weight: bold;
    padding: 2px 10px;
}
.body-content {
    float: left;
    width: 100%;
}
.advertisement {
    background: none repeat scroll 0 0 #C9E5FF; 
    border: 1px solid #0B6790;
    border-radius: 5px;
    -moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
    padding: 5px;
}
.advertisement h2 {
    background-color: #3682CF;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 4px;
}
.require {
    vertical-align:top;
}
/*============= dashboard css ====================*/
.dashboardmain {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px 0 #999;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 1%;
    width: 46.5%;
    *margin:10px;
}
.dashboardheading {
    background: transparent url("images/dashboard-heading.png") no-repeat scroll 0 1px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: "RobotoSlab-Regular";
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 12px;
    padding-bottom: 5px;
    padding-left: 25px;
    text-shadow: 1px 1px 1px #666;
}
.hstldashboardtbl {
	width:100%;
}
.dashboardchart {
	float:left;
	width:100%;
}
.norightmargin {
    margin-right: 0;
    width: 45.5%;
}
.chartcategory {
    border: 1px solid #ff7900;
    border-radius: 5px;
    float: left;
    margin: 0 1% 1%;
    width: 98%;
}
.dashboardtblmain {
    margin-top: 5px !important;
}
.cartype {
    float: left;
    padding: 3px 5px 3px 13px;
}
.changecriteria {
	float:right;
	background:#ff7900;
	*width:182px;
}
.changecriteria a {
    color: #fff; 
    float: right;
    padding: 11px 18px;  
}
.changecriteria a:hover {
    color:#fff; 
}
.dash1 {
	background: #1bb58f none repeat scroll 0 0;
}
.dash2 { 
	background: #00abeb none repeat scroll 0 0;
}
.dash3 { 
	background: #00bcd4 none repeat scroll 0 0;
}
.dash4 {
	background: #4caf50 none repeat scroll 0 0;
}
/*============== End of dashboard css ================*/
.modulebody {
    margin-top: 8px !important;
}
.savecommonbtn {
    background: #019688 none repeat scroll 0 0;
    border: medium none;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal !important;
    padding: 7px 15px;
    border-radius: 5px;
}
.savecommonbtn:hover {
	background: #008b7e none repeat scroll 0 0;
}
.resetcommonbtn {
    background: #9e9e9e none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal !important;
    padding: 7px 15px; 
}
.resetcommonbtn:hover {
	background: #959494 none repeat scroll 0 0;
}
.brdcrmsinnerdiv {
    float: left;
    padding: 7px 10px 7px 8px;
}
.notificationpnl {  
    height:200px;
}
.notificationpnl ul { 
    padding:0; 
    margin:0;
} 
.notificationpnl ul li {
    background: transparent url("images/arrow-1.png") no-repeat scroll 0 2px;
    border-bottom: 1px dotted #fff;
    color: #fff !important; 
    font-size: 13px;
    list-style: outside none none;
    font-family:Arial;
    margin: 0 0 5px;
    float:left;
    width:98%;
    font-weight: bold;
    padding: 0 0 5px 13px;
}
.submitbypostedby {
    color: #ffffff;
    float: left;
    font-size: 11px;
    font-style: italic;
    width: 100%;
}
.devidetwopart {
    float: left;
    width: 49.5%;
}
.devidetwopartright {
    float: left;
    width: 48%;
    margin-left: 1%; 
    padding-left: 0%;
    border-left: 1px solid #CCCCCC;
}
.disablefield {
    background:#fff;
    color:#000 !important;
    width:70px; 
    /*opacity:0.9;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
    filter: alpha(opacity=100);*/
}
/*.radiobtnspan span {
    float: left;
    min-width: 100px;
} 
span.radiofirstspan {
    min-width: 50px; 
}*/ 
/*Fieldset formating css*/
.fieldsetformating legend {
    color: #c3413f;
    padding: 5px 10px 5px 0;
    font-family: 'RobotoSlab-Regular';
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    margin-left: 10px;
}
.fieldsetformating fieldset {
    border:solid 1px #cccccc;
    margin-bottom:10px;
    border-radius:5px;
}
/*End of Fieldset formating css*/
/*two extra module css*/
.table_headingMain {
    border-bottom: 1px solid #3d335d;
    clear: both;
    color: #3d335d;
    font-family: "RobotoSlab-Regular";
    font-size: 18px;
    margin: 0 0 0 15px;
    padding: 0 0 5px;
    text-align: left;
}
.blue_headings {
    border-bottom: 1px solid #3d335d;
    color: #3d335d;
    font-family: "RobotoSlab-Regular";
    font-size: 16px;
    font-style: italic;
    margin: 0 0 0 15px;
    padding: 0 0 5px;
    text-align: left;
}
.secContent .label {
    border-bottom: 1px solid #e4f3ff;
    color: #5a5a5a;
    font-weight: bold;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
    width:15%;
}
.secContent {
    width:100%;
}
.secContent .button {
    background: #fc760a none repeat scroll 0 0;
    border: 1px solid #ed6a00;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold !important;
    margin: 6px 5px 3px 0;
    padding: 6px 14px;
}
.secContent .buttonfalse {
    background: #ddd none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #ccc !important;
    cursor: pointer;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold !important;
    margin: 6px 5px 3px 0;
    padding: 6px 14px;
}
.secContent .textboxMultiline {
    width:193px;
}
.secContent .textboxlong, .secContent .textbox {
    width:173px;
}
/*End of two extra module css*/

