* {
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin:0;
	padding:0;
}
.module_icon_main_div {
    float: left;
    width: 140px;
    padding-bottom: 15px;
}
ul.moduleicon {
    margin: 0;
    padding: 0;
    text-align: center;
}
.moduleicon li {
    display: inline-block;
    height: 70px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 70px;
}
@keyframes rotate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}
@keyframes rotate {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(-360deg);
}
}
.moduleicon .round {
    border-radius: 300px;
    border-style: solid;
    border-width: 4px;
    display: block;
    font-family: "Hammersmith One",sans-serif;
	
	-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		
    font-size: 25px;
    height: 100%;
    left: 0;
    letter-spacing: -0.065em;
    padding-top: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);*/
    top: 0;
    transition: all 0.25s ease-in-out 0s;
    width: 100%;
    z-index: 1;
}
.moduleicon .round:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 13px !important;
    height: 130%;
    left: -15%;
    padding-top: 12px;
    top: -15%;
    transform: rotate(-360deg);
    width: 130%;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
}
.moduleicon a.green {
    background-color: #d7d7d7;
    border-color: #d7d7d7;
    color: #fff;
}
.moduleicon a.green:hover {
    color: #d7d7d7;
}
.moduleicon .round span.round {
    border: medium none;
    color: #333333;
    display: block;
    font-size: 1px;
    opacity: 0;
    padding: 40% 20% 0;
    transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
}
.moduleicon .round span:hover {
    font-size: 16px;
    opacity: 0.85;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);	*/
	
}
.moduleicon .green span {
    background: #d7d7d7;
}

