{% extends "base.html" %}
{% block content %}
<div class="col-12">
    <div class="card card-hau">
        <div class="tableheading">Designation Specialization Master</div>
        <div class="card-body">
            
            <div class="tablesubheading">Existing Specializations ({{ pagination.total }})</div>
            <div style="overflow-x:auto;">
                <table class="hau-table" width="100%">
                    <thead>
                        <tr>
                            <th width="5%">S.No.</th>
                            <th align="left">Specialization Code</th>
                            <th align="left">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td align="center">{{ loop.index + (pagination.page - 1) * pagination.per_page }}</td>
                            <td style="font-weight:bold; color:#3c8dbc;">{{ row.Pk_BranchId }}</td>
                            <td>{{ row.Branchname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'includes/pagination.html' %}
            </div>

        </div>
    </div>
</div>
{% endblock %}