/* global classes starts*/
@charset "utf-8";
* {
	padding:0;
	margin:0;
} 
img {
	border:0;
}
html, body, form {
	height:100%;
}
ul {
	clear:both; 
} 
a {
	color:blue;   
	outline: 0;
	text-decoration:none; 
}
a:hover {
	text-decoration:underline;
	color:#f47300;
}
input[type="checkbox"], input[type="radio"] {
	margin:0 3px 0 0;
}
input[disabled="disabled"] {
	color:#cccccc;
}
body.backgroundmaster {
	background: url("images/body-bg.jpg") repeat-x fixed 0 0 transparent;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font-family:Verdana, Arial;
    font-size: 11px;
    line-height: 18px;
}
/*
A:visited {color:#e19164;text-decoration:none;}
A:active {color:#d84704;text-decoration:underline;}*/
/* Corner radius */
.roundCornerAll {
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#fff;
}
/* Corner radius ends */
#container {
	width:955px;
	margin:0 auto;
	min-height:100%;
	height:auto !important;
	height:100%;
	background:url(images/bodyBg.jpg) #666 repeat-x;
}
.maincontent {
    margin: 0 auto;
    padding-top: 118px;
    width: 98%;
}
#containerRound {
	width:955px;
	margin:20px auto 0px;
	min-height:100%;
	height:auto !important;
	height:100%;
	background:url(images/navsariLogo.jpg) #fff no-repeat 10px 10px;
	border:1px solid #ccc;
	position:relative;
	padding:12px;
}
#containerRound h2 {
	font:20px/16px bold arial, verdana;
	color:#116907;
	font-weight:bold;
	font-family:Arial;
	background:url(images/fileIcon.jpg) no-repeat 395px 0px;
	padding:20px 0 20px 440px;
}
#containerRound h1 {
	font:15px/17px bold Tahoma, Helvetica, Sans-Serif;
	text-align:left;
	font-weight:bold;
	color:#D22E1E;
	font-family:Tahoma;
}
html > body #containerRound hr {
	margin-bottom:10px;
	color:#bbb;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 1px;
	background: #B7D1E2;
	border-bottom-style: none;
	clear:both;
	padding:0;
	margin-top:6px;
}
#containerRound hr {
	margin-bottom:10px;
	color:#bbb;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 1px;
	border-bottom-style: none;
	clear:both;
	padding:0;
	margin-top:0px;
	border:1px solid #B7D1E2;
}
.repbody {
	background-color: White;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.colon {
	width: 2%;
	text-align: center;
}
.repbody {
	background-color: White;
}
form {
	height: 100%;
}
img {
	border: 0;
}
.gap {
	height:10px;
}
ul {
	padding: 5px 0 2px 5px;
	margin: 0px;
}
li {
	padding: 2px 0 1px 5px;
	margin: 0 0 0 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.colon {
	width: 2%;
	text-align: center;
}
.Freezing { 
    position: relative;  
    z-index: 10; 
}
/*loginpage-css**************************************************/
.footerTender {
	font-size: 11px;
	text-align: center;
	color: #666;
	padding: 0 0 0 0;
	position:relative;
	margin:-35px 0 0 0;
	display:block;
}
#footerBlock {
	height:35px;
}
#topNavlist {
	list-style:none;
	clear:both;
	padding:15px 0 15px 0;
	font-size:11px;
	text-align:right;
}
#topNavlist li {
	display:inline;
	color:#ccc;
}
#topNavlist li a {
	color:#333;
	padding:0 17px 0 17px;
}
#topNavlist li a:hover {
	font-size:11px;
	color:#333;
}
#loginBox {
	border:1px solid #ccc;
	width:325px;
	margin:80px auto 0;
	padding:15px;
}
#loginBox p {
	float:left;
	width:90px;
	text-align:left;
	font:12px/17px normal arial, verdana;
	padding:0;
}
#loginBox em {
	color:red;
	font:10px/16px normal arial;
	padding:0 0 0 0;
	float:right;
}
#loginBox .inputBoxLogin {
	width:220px;
	float:left;
	margin:0 0 10px 0;
	border:1px solid #ccc;
	padding:0 3px 0 3px;
}
#loginBox span.btWidth {
	padding-left:90px;
	clear:left;
}
.hed {
	display:block;
	padding:15px 0 0 25px;
	color:#FF0000;
	font-size:17px;
	font-weight:normal;
}
.login-bg {
	/*height: 100%;*/
	width: 100%;
    margin-top:12%;
}
.container {
    margin: 0 auto;
    padding: 0;
    width: 940px;
}
.login-left {
    float: left;
    width: 441px;
}
.login-pg-logo {
    float: left;
    width: 100%;
    text-align:center;
}
.login-pg-logo img {
    width:470px;
}
.centerpage {
    float: right;
    width: 440px;
}
.loginbase {
    float: left;
    width: 100%;
    position: relative;
    z-index: 999999;
}
.form-login {
    background: url("images/lgn-tp-bg.png") repeat scroll 0 0;
    border-radius: 5px;
    /*margin: 0 auto;*/
    margin:0 0 0 3%;
    max-width: 380px;
}
.login-wrap {
    margin: 115px 0;
    padding: 20px 20px;
    min-height: 220px;
}
.login-pg-logo-new {
    margin-top:-80px;
}
.heading {
	font-size: 18px;
	background-color: #000;
	color: #FFF;
	width: 300px;
	height: 200px;
	margin: 0 auto; 
}
.loginheading {
    border-bottom: solid 1px #1b3807;
    color: #1b3807;
    font-family: Calibri,Arial;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 20px 0;
    text-align: center;
    padding: 8px;
    background: #b7d6a1;
}
.line-logout {
	text-align: center;
	font-size: 14px;
	color: #B42701;
	font-family: Tahoma;
	font-weight: bold;
	padding: 20px 10px 0 8px;
}

.fieldname {
    color: #333333;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 6px;
    width: 100%;
}

.lblmessage {
	color: red;
	font-weight: bold;
	font-size: 14px;
}
.logbutt {
    background: #ff5b00; /* Old browsers */
    background: -moz-linear-gradient(top, #ff7c00 0%, #ff5b00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ff7c00 0%,#ff5b00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ff7c00 0%,#ff5b00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c00', endColorstr='#ff5b00',GradientType=0 ); /* IE6-9 */
    border:solid 1px #ff7200;
    border-radius:5px;
    cursor: pointer;
    font-size:14px;
    font-weight:bold;
    height: 35px;
    width: 80px;
    color:#fff;
}
.loginfail {
	padding: 5px 0 0 74px;
}
.codebox {
    border: 1px solid #858585;
    color: #333333;
    overflow: visible;
    padding: 1px 0 1px 2px;
    vertical-align: middle;
    width: 185px;
}
.footer a {
    background: url("Images/exp-product.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-size: 0;
    height: 15px;
    margin-left: 41%;
    margin-top: 8px;
    text-align: right;
    text-decoration: none;
    width: 156px;
}
/*==========loginpage-css-ends==========*/
/*==========masterpage-css===========*/
.wrap {
	margin: 20px;
	border: 1px solid #fff;
	background: #FCFFEA;
}
.header {
    background: none repeat scroll 0 0;
    float: left;
    font-family: calibri,arial;
    font-size: 14px;
    height: 65px;
    width: 100%;
}
.co-name-text {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	padding: 0 0 0 0;
	text-align: left;
	float: left;
	background: url(Images/co-logo.jpg) no-repeat;
	margin: 0 0 0 12px;
	width: 174px;
	height: 44px;
}
.login-detail {
	text-transform: uppercase;
	border: 1px solid #333;
}
.masterlogin-detail {
	text-transform: uppercase;
	color: black;
	padding: 3px;
	font-size: 10px;
}
.masterlogin-detail a {
	color: #ffffff;
	text-decoration: none;
}
.masterlogin-detail a:hover {
	color: #000;
}
.moduleselectmenu h1 {
    border: 1px solid #3d591d;
    border-radius: 5px;
    float: left;
    text-align: left;
    width: 100%;
    padding:0;
}
.borderbottom {
    float: left;
    padding: 10px;
    color:#ff5b00;
}
.modulelistfild select {
	margin:0;
}
.headersecondnav {
    margin-right: 10px;
    margin-top:0px;
    float:right;
    width: 73%;
}
.headersecondnav ul {
	float:right;
	margin:0;
	padding:0;
}
.headersecondnav ul li {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    list-style-type: none;
}
.blueline {
	clear: both;
	border-bottom: 6px solid #224FAD;
}
.round-menu-left {
	background: url(Images/round-left.gif) no-repeat;
	height: 20px;
	width: 19px;
}
.round-menu-right {
	background: url(Images/round-right.gif) no-repeat;
	height: 20px;
	width: 19px;
}
.footer {
    background: url("Images/footer-bg.jpg") repeat-x scroll 0 0;
    float: left;
    padding: 9px 0;
    margin-top:13px;
    text-align: center;
    height:24px;
    width: 100%;
}
#body {
    float: left;
    min-height: 440px;
    width: 100%;
}
/*navigation style of master page starts*/
.logo {
    background: url("Images/inside-pg-logo.png") no-repeat scroll 0 0;
    float: left;
    height: 55px;
    margin-top: 5px !important;
    padding: 0 !important;
    width: 382px;
    border-bottom: medium none; 
}
.inside-pg-logo {
    float:left;
    padding:3px;
}
.menu {
	margin: 1px;
	font-weight: normal;
	cursor: hand;
	clear: both;
	padding: 0 0 0 0;
	display: block;
}
/* set tab1 as top level container table, then target TDs inside*/
.menuItem td {
	color: #333;
	height: 10px; 
	text-align: left;
	padding: 0 0 5px 0;
	margin: 0;
	border-right: 1px solid #CCCCCC;
	font-family: Verdana, arial;
	font-size: 10px;
}
/* make current tab gray,set the background-color also in case images are not on*/
.menuSelectedItem td {
	background: #ffffff;
}
/* make link and visited the same look,set the background-color also in case images are not on*/
.menuItem a:link, .menuItem a:visited {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0 43px 2px 43px;
	font-weight:bold;
	margin: 0;
}
.menuPopupItem a:link, .menuPopupItem a:visited {
	color: #666666;
	text-decoration:none;
	font-weight:bold;
	display: block;
	padding: 5px;
}
/* make hover by changing vertical position of background to -22px (the tab_dim2.gif is 44px high) */
.menuItem a:hover {
	text-decoration: none;
	margin: 0; 
	cursor: hand;
	border: 1px solid #333;
	color: #000;
}
/* make drop down menu container style */
.menuPopup {
	border: 1px solid #E9E8E8;
	color: #000;
	font-size: 11px;
	font-family: tahoma;
}
.menuPopup a {
	background: #F6F6F6;
	display: block;
	padding: 6px;
}
.menuPopup a:hover {
	display: block;
}
/* make drop down menu item style */
.menuPopupItem {
	color: #fff666;
	border-bottom: 1px solid #ffffff;
}
.menuPopupItem a {
	display: block;
}
.menuPopupItem a:hover {
	background: #999999;
	color: #ffffff;
}
/* navigation style of master page ends */
/*button css style start ---------------*/
/*Push */
@-webkit-keyframes button-common {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes button-common {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.button-common {
    background: #fc760a;
    border: 1px solid #ed6a00;
    border-radius: 5px;
    -moz-border-radius:5px;
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px;
    color: #FFFFFF; 
    cursor: pointer;
    font-family: verdana;
    font-size: 12px;
    *font-size: 11px;
    font-weight: bold !important;
    margin: 6px 5px 3px 0;
    padding: 6px 14px;
    *padding: 6px 3px;
}
.button-common:hover, .button-common:focus {
    background: none repeat scroll 0 0 #ff9600;
    border: 1px solid #f08d00;
	text-decoration: none;
}
.button-Link {
    background: url("Images/submit-btn-bg.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #e98001;
    border-radius: 5px;
    -moz-border-radius:5px; 
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold !important;
    height:40px;
    margin: 6px 5px 3px 0;
    padding: 0.5px 5px;
}
.buttonformula {
	font-size: 11px;
	font-weight: bold;
	background-color: #E4E4E4;
	width: 30px;
	padding: 2px;
	color: #333;
	margin: 2px;
	background-image: url(Images/button_bg.jpg);
}
.buttonformula:hover {
	background-color: #D2D2D2;
	background-image: url(Images/button_bg_over.jpg);
	cursor: hand;
}
.buttonHTML {
	padding: 0.5px;
	color: #000;
	margin: 6px 18px 3px 0;
	border: 1px solid #808080;
	font-size: 11px;
	background-image: url(Images/button_bg.jpg);
}
.buttonHTML:hover {
	border: 1px solid #7D98B8;
	background-image: url(Images/button_bg_overbt.jpg);
	cursor: hand;
}
.buttonformula1 {
	font-size: 11px;
	font-weight: bold;
	background-color: #E0E0E0;
	padding: 2px;
	color: #333;
	margin: 2px;
	width: 65px;
	background-image: url(Images/button_bg.jpg);
}
.buttonformula1:hover {
	background-color: #E0E0E0;
	background-image: url(Images/button_bg_over.jpg);
	cursor: hand;
}
.LinkButton {
	font-size: 11px;
	font-weight: bold;
	background-color: #db6600;
	padding: 2px 7px 2px 7px;
	color: #ffffff;
	margin: 1px 0 0 10px;
	border: 2px solid #db6600;
	display: block;
	height: 15px;
	background-image: url(Images/button_bg.jpg);
}
 .LinkButton:a {
 text-decoration: none;
}
.LinkButton:hover {
	background-color: #000000;
	border: 2px solid #000000;
	text-decoration: none;
	background-image: url(Images/button_bg_over.jpg);
}
#TimeEntryView {
	padding: 10px;
	background: #FFFFFF;
	color: #666666;
}
/*text-box class*/
.textbox3, .textbox2 {
    background: url("images/text-box-edit.gif") no-repeat scroll 3px 3px;
    margin: 2px 0;
    padding: 3px 3px 3px 22px !important;
    width: 198px;
}
.textbox4 {
	margin: 2px 0 2px 0;
	width: 220px;
}
.textboxdate {
	margin: 2px 0 2px 0;
	width: 65px;
}
.textboxsmall {
	margin: 2px 0 2px 0;
	width: 50px;
}
.textboxsmall2 {
	margin: 2px 0 2px 0;
	width: 70px; 
}
.textboxsmall3 {
	margin: 2px 0 2px 0;
	width: 90px;
}
.textboxsma110 {
    margin: 2px 0 2px 0;
	width: 110px;
}
.textbox, .textboxlong {
    background: url("images/text-box-edit.gif") no-repeat scroll 5px 5px;
    margin: 2px 0;
    padding: 5px 5px 5px 25px !important;
    width: 191px;
}
textarea.textbox, textarea.textboxmultiline {
    background: url("images/text-box-cmt.gif") no-repeat scroll 5px 5px;
    margin: 2px 0;
    padding: 5px 5px 5px 22px !important;
    width: 193px;
}
.textboxmedium {
	margin: 2px 0 2px 0; 
	width: 220px;
}
.textboxverylong {
	margin: 2px 0 2px 0;
	width: 500px;
}
.textboxmultilinelong {
	width: 600px;
	height:50px;
	margin: 2px 0px 2px 0px;
}
.textboxsuggestion {
	width: 220px;
	margin: 2px 0px 2px 0px;
}
/*text-box class*/
/*=============text-box-gridview class*=============Starts*/
.gtextbox3 {
	width: 20px;
	margin: 2px 0px 2px 0px;
}
.gtextbox4 {
	width: 28px;
	margin: 2px 0px 2px 0px;
}
.gtextbox5 {
	width: 36px;
	margin: 2px 0px 2px 0px;
}
.gtextboxdate {
	width: 65px;
	margin: 2px 0px 2px 0px;
}
.gtextbox {
	width: 125px;
	margin: 2px 0px 2px 0px;
}
.gtextbox1 {
	width: 195px;
	margin: 2px 0px 2px 0px;
}
.gtextbox-earninghead {
	width: 125px;
	margin: 0px 0px 0px 0px;
}
.gtextboxmedium {
	width: 110px;
	margin: 2px 0px;
}
.gtextbox2 {
	width: 10px;
	margin: 2px 0px;
}
.gtextboxlong {
	width: 210px;
	margin: 2px 0px;
}
.gtextboxmultiline {
	width: 250px;
	margin: 2px 0px;
}
.gtextboxsuggestion {
	width: 350px;
	margin: 2px 0px;
}
/*=================text-box-gridview class ends===================*/
.dropdownlogin {
	width: 260px;
	margin: 2px 0px;
}
.dropdownsmall {
	width: 225px;
	margin: 2px 0px;
}
.dropdown {
    margin: 2px 0;
    width: 222px;
}
.dropdown180 {
	width: 180px;
	margin: 2px 0px;
}
.dropdawnNowidth {
	margin: 2px 0px;
}
.dropdownmedium {
	margin: 2px 0px;
	width: 225px;
}
.dropdownlong {
	margin: 2px 0px;
	width: 225px;
}
.dropdownverylong {
	margin: 2px 0px;
	width: 300px;
}
.dropdownveryvlong {
	margin: 2px 0px;
	width: 450px;
}
.dropdownvvlong {
	margin: 2px 0px;
	width: 684px;
}
.dropdownvvvlong {
	margin: 2px 0px;
	width: 780px;
}
/*================gridview dropdown==============*/
.gdropdownsmall {
	width: 92px;
	margin: 2px 0px;
}
.gdropdownsmaller {
	width: 64px;
	margin: 2px 0px;
}
.gdropdownverysmall {
	width: 38px;
	margin: 2px 0px;
}
.gdropdown {
	width: 152px;
	margin: 2px 0px;
}
.gdropdownmedium {
	margin: 2px 0px;
	width: 200px;
}
.gdropdownlong {
	margin: 2px 0px;
	width: 255px;
}
.dropdownlongselect {
	margin: 2px 0px;
	width:120px;
}
.gdropdownverylong {
	margin: 2px 0px;
	width: 350px;
}
.gdropdownveryvlong {
	margin: 2px 0px;
	width: 500px;
}
.gdropdownvvverylong {
	margin: 2px 0px;
	width: 750px; 
}
/*===============dropdown-end==============*/
.header-style {
    font-family: Verdana,Tahoma, Arial;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    border:solid 1px #000 !important;
    text-align: center;
}
.header-style span.header-style {
	border: medium none !important;
}
.header-style th, .header-style td {
    background: #ededed url("Images/header-bg.gif") repeat-x scroll 0 0;
    border: 1px solid #c2c2c2 !important;
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 0;
}
/* dg detail grid css */
.dgDetailsgrid tr td {
    padding: 4px !important;
}
.header-style-dg {
    color: #FFFFFF;
    font-family: Verdana,Tahoma,Arial;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    border:solid 1px #000 !important;
    text-align: center;
}
.header-style-dg td {
	border:solid 1px #000 !important;
	background: url(Images/header-bg.gif) repeat-x scroll 0 0 #4C97C4;
}
.body-form table {
	margin-top:5px;
	float:left;
}
.body-form table.table {
    margin-top: 0;
}
.header-style1 {
	text-align: left;
	height: 20px;
	font-weight: bold;
	color: #000;
	background: url(Images/button_bg_over.jpg) repeat-x;
	font-family: Verdana, Tahoma, Arial;
	font-size: 10px;
}
.gridmouseoveritem {
	font-weight: bold;
	background-color: #C5BBAF;
	color: #333;
}
.pager-style {
	color: #000000;
	font-weight: bold;
	height: 15px;
	padding: 0px;
	margin: 0px;
	font-family: verdana,arial;
}
.tdgap {
	padding:3px;
}
.item-style {
	text-align: left;
	font-family: verdana,arial;
	background: #ECECEC;
}
.dgitem-style {
	text-align: left;
	font-family: Verdana, Arial;
	background: #ffffff;
}
.lblmessage {
	font-weight: normal;
	font-size: 11px;
	color: #ff0000;
	line-height: normal;
	font-style: normal;
	font-family: Arial;
}
.tableheading {
    border-bottom: 1px solid #ccc;
    clear: both;
    font-family:Calibri, Arial;
    color: #3d335d;
    font-size: 18px;
    font-family: 'RobotoSlab-Regular';
    margin: 0 0 0 15px;
    padding:0;
    text-align: left;
}
@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
}
span.mainheadingborderbottom {
    background: url("Images/table-heading.png") no-repeat scroll 0 4px;
    border-bottom: 1px solid #3d335d;
    float: left;
    font-size: 18px !important;
    padding: 5px 0 5px 23px;
    margin-top:5px;
}
.tablesubheading {
    border-bottom: 1px solid #ccc;
    color: #3d335d;
    font-size: 16px;
    font-style: italic;
    margin: 0 0 0 15px;
    padding: 0;
    text-align: left;
    font-family: 'RobotoSlab-Regular';
}
span.subheadingborderbottom {
    background:  url("Images/table-sub-heading.png") no-repeat scroll 0 1px;
    border-bottom: 1px solid #3d335d;
    float: left;
    font-size: 15px !important;
    padding: 0 0 4px 18px;
}
.PopcalTrigger {
	height: 20px;
    margin-left: 3px;
    margin-top: -1px;
    width: 20px;
	margin-top:-4px\9;
	*margin-top:0;
}
.vtext {
    border-bottom: 1px solid #E4F3FF;
    color: #5A5A5A;
    font-family:Verdana. Arial;
    font-weight: bold;
    margin: 0;
    padding: 0 10px 0 0;
    text-align: right;
}
.myselectlist {
	color: #000000;
    font-size: 12px;
    font-weight: bold;
}
/*Main Heading of Report*/
.reportMainTable {
	width:1200px;
}
.reportHeadTable {
	width:98%;
}
.reportDataTable {
	width:100%;
	border-collapse:collapse;
	border:1px solid #666;
}
.vtexth1rpt {
	margin: 0px;
	font-family: Sans-Serif, Verdana, Times New Roman, Helvetica;
	font-size: 22px;
	font-weight: bold;
	color: #1B9BE0;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
/*Sub Heading of Report*/
.vtexthrpt {
	margin: 0px;
	font-family:Sans-Serif, Verdana, Times New Roman, Helvetica;
	font-size: 18px;
	font-weight: bold;
	color: #1B42E0;
	padding: 0px 0px 0px 0px;
}
/*Sub - Sub Heading of Report*/
.vtexth2rpt {
	margin: 0px;
	font-family: Sans-Serif, Verdana, Times New Roman, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #1B9BE0;
	padding: 0px 0px 0px 0px;
}
/*Column Name of Report*/
.vtextbrpt {
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 15px;
	font-weight: bold;
	color: #E0321B;
	padding: 3px 1px 3px 1px;
	background-color: #DCDCDC;
	font-style:italic;
}
.vtextbrptresult {
	font-family: Arial Narrow;
	font-size: 24px;
	color: #E0321B;
	padding: 3px 1px 3px 1px;
	background-color: #DCDCDC;
}
.vtextbrptresult_heading {
	margin: 0px;
	font-family:  Arial Narrow;
	font-size: 22px;
	font-weight: bold;
	color: #1B9BE0;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.vtextbrptl {
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	padding: 3px 1px 3px 1px;
	background-color: #DCDCDC;
}
.vtextlrpt1 {
	margin: 0px;
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 12px;
	color: #33302F;
	padding: 3px 0px 3px 1px;
}
.vtextlrpt11 {
	margin: 0px;
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 11px;
	color: #333;
	padding: 3px 0px 3px 1px;
}
/*Numeric Fields of Report*/
.vtextrrpt {
	margin: 0px;
	font-family: Sans-Serif, Arial, Verdana, Helvetica;
	font-size: 14px;
	color: #333;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.vtextrrpt1 {
	margin: 0px;
	font-family: Sans-Serif, Arial, Verdana, Helvetica;
	font-size: 14px;
	color: #333;
	padding: 0px 0px 0px 0px;
}
/*Total Fields of Report*/
.vtexttotrpt {
	margin: 0px;
    font-family: Sans-Serif, Arial, Verdana, Helvetica  font-size: 14px;
	color: #571E0B;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.vtexttotrpt1 {
	margin: 0px;
	font-family: Sans-Serif, Arial, Verdana, Helvetica;
	font-size: 15px;
	color: #1056A1;
	font-weight:bold;
	padding: 0px 0px 0px 0px;
}
.vtextbrptr {
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	padding: 3px 1px 3px 1px;
	text-align: right;
}
.vtexttotrptr {
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding: 3px 1px 3px 1px;
	text-align: right;
}
.vtextbrptl {
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #003399;
	padding: 3px 1px 3px 1px;
	text-align: left;
	background-color: #DCDCDC;
}
.underline {
	border-bottom: 1px solid #333;
	clear: both;
	overflow: hidden;
}
.vtextlrptr {
	margin: 0px;
	font-family: Sans-Serif, Arial, Verdana, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 3px 0px 3px 1px;
	text-align: right;
}
.vtextlrptl {
	margin: 0px;
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 3px 0px 3px 1px;
	text-align: left;
}
.vtextrrptr {
	margin: 0px;
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 12px;
	color: #333;
	padding: 0px 0px 0px 0px;
	text-align: right;
}
.vtextlrptc {
	margin: 0px;
	font-family: Sans-Serif, Times New Roman, Verdana, Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	padding: 3px 0px 3px 1px;
	text-align: center;
}
.required {
	color: red;
}
/*=================module show==========================*/
h1 {
    background: inherit;
    border-bottom: 1px solid #A6A6A6;
    color: #C3413F;
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 2px;
}
.modulelistfild {
    background: #3d591d none repeat scroll 0 0;
    float: right;
    padding: 5px 10px 6px;
    *padding: 5px 10px 11px;
}
p {
	clear: both;
	font: 10px Verdana, Sans-Serif;
	padding: 10px 0;
	text-align: center;
}
p a {
	background: inherit;
	color: #777;
}
p a:hover {
	background: inherit;
	color: #000;
}
/* ==================Hoverbox Code==================*/
.hoverbox img {
    border: 4px solid rgba(54, 78, 168, 0.3);
    border-radius: 40px;
    vertical-align: top;
}
.hoverbox img:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	-khtml-transition:all 1s;
	transition:all 1s;
}
.modulebg {
    float: left;
    height: 120px;
    width: 143px;
}
.moduleimg {
	float:left;
	width:61px;
	height:66px;
	margin-left:37px;
}
.modulename {
    float: left;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.modulename a {
	color:#3d591d;
    text-decoration:underline;
}
.modulename a:hover {
    color:#333;
}
/*=================================*/
.DivStyleWithScroll {
	border-right: #3384bf 1px solid;
	border-top: #3384bf 1px solid;
	font-size: 11px;
	overflow: scroll;
	border-left: #3384bf 1px solid;
	width: 100%;
	border-bottom: #3384bf 1px solid;
	font-family: Verdana;
	height: 150px;
}
/*===========webpart============**/
.wbparthead {
	background: url(Images/listheadergrad.gif) repeat-x;
	padding:1px 0px 1px 5px;
}
.wbpart-panel {
	background: url(Images/waebpartpanel.jpg) #ffffff no-repeat;
}
.webpart-linkhead {
	text-align:right;
	padding:2px 5px 2px 0px;
	color:#333;
	font-family:Tahoma;
	font-size:11px;
	font-weight:normal;
}
.webpart-linkhead a {
	color:#333;
	text-decoration:none;
}
.webpart-linkhead a:hover {
	color:#FF8400;
	text-decoration:underline;
}
.uploadfiles {
	margin: 2px 0px 2px 0px;
	padding: 1px 0px 1px 2px;
	width: 293px;
	font-size: 11px;
}
.quickLinkNav {
	font-size: 11px;
	color: #666;
	width: 850px;
	float: left;
}
.quickLinkNav li {
	list-style: none;
	padding: 0 20px 0 30px;
	display: inline;
	line-height: 33px;
}
.quickLinkNav li a {
	color: #666;
}
.quickLink {
	padding: 0px 0px 0 0px;
	float: right;
	clear: right;
}
.quickLink li {
	color: #EBA621;
	list-style: none;
	display: inline;
	line-height: 33px;
}
.quickLink li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0px 43px 2px 43px;
	margin: 0px;
}
.quickLink ul {
	background: #fff;
	font-family: Verdana;
	border: 1px solid #ccc;
	margin: 5px 0 0 0;
	padding: 3px 10px 3px 10px;
	font-size: 10px;
	width: 70px;
}
.quickLink ul li {
	line-height: 13px;
}
.quickLink ul li a {
	color: #666;
	padding: 6px 0 6px 0;
	display: block;
	border-bottom: 1px solid #eee;
}
.quickLink ul li a:hover {
	color: #666;
	color: #EBA621;
}
.cssParsedBox {
	margin: 0 auto 20px;
	color: #333;
	width: 800px;
	padding: 5px;
	text-align: left;
	background-color: #F4F4F4;
	border: 1px solid #ffffff;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px;
}
/*Text Fields of Report*/
.vtextlrpt {
	margin: 0px;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 14px;
	color: #333;	
	padding: 3px 0px 3px 1px;
	vertical-align:middle;
}
.vtextlrpt1 {
	margin: 0px;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	color: #333;
	padding: 3px 0px 3px 1px;
	height:50px;
	vertical-align:middle;
}
/*Total Fields of Report*/
.vtexttotrpt {
	margin: 0px;
 	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 14px;
	font-weight:bold;
	color: #1056A1;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.menuPopupItem a:link, .menuPopupItem a:visited {
	color: black;
	text-decoration:none;
	font-weight:bold;
	display: block;
	padding: 5px;
}
.menuPopup a {
	background: #b0e0ff;
	display: block;
	padding: 6px;
}
.icar {
	background: url(Images/icar.gif) no-repeat;
	position:absolute;
	right:33px;
	width:62px;
	height:77px;
}
.onlineuser {
    color: #F57300;
    font-size: 12px;
}
.glcl {
    float: right;
    width: 60%;
    padding-top:10px;
}
.glcl ul {
	margin:0;
	padding:0;
	list-style-type:none;
	float:right;
}
.glcl ul li {
    float: left;
    margin: 0;
    color:#fff;
    padding: 3px 3px 4px 30px;
}
.glcl ul li img {
	float:left;
	margin-right:5px;
}
.glcl ul li.custsupport {
	background: url(Images/support_help.png) no-repeat scroll 0 0;
}
.glcl ul li.mymodule {
	background: url(Images/my-modules.png) no-repeat scroll 0 0;
}
.glcl ul li.chngpass {
	background: url(Images/change-pass.png) no-repeat scroll 0 0;
}
.glcl ul li.logout {
	background: url(Images/logout.png) no-repeat scroll 0 0;
	padding-right:10px;
}
.glcl ul li.currentmodule {
	padding-left:5px;
}
.glcl a {
    color: #FFFFFF;
}
.list-tab td {
	text-align:left;
}
.list-tab td a {
	color:#000;
	font-size:12px;
	font-weight:bold;
	display:block;
	background:#dadada;
	padding:5px;
	border-bottom:1px solid #666;
}
.list-tab td a:hover {
	background:#acacac;
	padding:5px;
	border-bottom:1px solid #666;
	text-decoration:none;
}
.dashTab {
    background: url("Images/ds-bg.jpg") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    padding-left: 30px;
    width: 400px;
}
.dashTab span {
	background:url(Images/icon-ds.jpg) no-repeat 1px;
	color:#fff;
	font-weight:bold;
	padding:8px 0 9px 40px;
	display:block;
}
.dashTabdet {
	background:url(Images/bs-bg1.jpg) repeat-x 0 0 #7dceeb;
	padding:0 0 10px 15px;
}
.short-link {
    background: none repeat scroll 0 0 #C9E5FF;
    float: left;
    width: 100%;
}
.short-link a {
    color: #b00c23; 
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    margin-left:10px;
    width: 225px;    /* css changes for alerts spacing on 12/11/2013 */
    display: inline-block;
}
.short-link h4 {
	font-size:14px;
	margin-left:10px;
	padding:6px 0 7px 0;
}
.white_content-new {
    background: url("images/overlay.png") repeat scroll 0 0;
    float: left;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.popupboxouter {
    margin: 10% auto 0;
    width: 855px;
}
.popupbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 15px solid #3d335d;
    border-radius: 10px;
    -moz-border-radius:10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
    float: left;
    padding: 10px;
    position:relative;
    width: 800px;
}
.fade {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
	background-color: #000;
	-moz-opacity: 0.4;
	opacity:.40;
	filter: alpha(opacity=40);
}
.close {
    background: url("Images/closebutton.png") no-repeat scroll 0 0;
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 22px;
    position: absolute;
    right: 11px;
    top: 12px;
    width: 22px;
    z-index: 99;
}
/*==== main navigation css ====*/
#nav {
    float: left;
    text-align: left;
    height:43px;
    width: 100%;
}
#nav .level1 {
	float: left;
    position: relative;
    width:100% !important;
}
#nav li { 
    background: url("Images/menu-arrow.png") no-repeat scroll 95% 21px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    font-family: calibri,Arial;
    font-size: 12px;
    margin: 0 5px 0 0;
    padding: 13px 20px 13px 10px;
}
#nav li:hover {
	background: url("Images/menu-arrow.png") no-repeat scroll 95% 23px #e2ffc1;
	border-left: 1px solid #bde095;
    border-right: 1px solid #bde095;
}
/*For Sub Menu bottom arrow on hover display none*/
#nav li ul li:hover {
    background:none;
}
/*End For Sub Menu bottom arrow on hover display none*/
#nav li li:hover {
	border:none;
}
#nav li li {
    border: medium none;
    font-family: verdana, Arial;
    float: left;
    padding: 0;
    background:none;
    position: static;
    margin:0;
    /*width: 48%;*/
    width:33%;
}
#nav li a, .heading1 a {
	color:#000;
}
#nav li li a {
	padding: 4px  0  4px 15px;
}
#nav li li a:hover {
	color:#333;
	background: none repeat scroll 0 0 transparent !important;
	text-decoration:underline;
}
#nav ul ul {
    background: none repeat scroll 0 0 #e2ffc1;
    border-bottom: 1px solid #bde095;
    border-left: 1px solid #bde095;
    border-right: 1px solid #bde095;
}
#ctl00_MainMenu ul.dynamic {
	*top:53px !important;
}
#ctl00_MainMenu a {
    white-space: normal !important;
}

#ctl00_MainMenu a.popout-dynamic {
	background: none repeat scroll 0 0 transparent !important;
    color: #a71010;
    font-size: 12px;
    font-weight: normal;
}
#ctl00_MainMenu a.popout-dynamic:hover {
    background: none repeat scroll 0 0 transparent !important;
    color:#333;
}
#nav ul li ul {
    display: none;
    width: 100%;
    z-index:999999 !important;
    min-height: 140px;
}
#nav ul li ul ul  {
	position:static !important;
	left:0 !important;
	display:block !important;
	margin-left: 10px;
	width:100%;
	min-height:10px;
	border:none;
}
#nav ul li ul ul li, #nav ul li ul ul li:hover {
	color: #333;
	float:left;
	width:100%;
    background: url("images/bullet-icon.png") no-repeat scroll 0px 10px transparent;
}
#nav li li li  {
	position:static !important;
}
#ctl00_MainMenu li.has-popup.dynamic {
	list-style:none;
	background: none repeat scroll 0 0 transparent;
}
#nav ul li ul ul ul {
	margin:0;
	width:100%;
}
#ctl00_MainMenu ul ul li.has-popup.dynamic {
	float:left;
	/*width:48.5%;
	width:100%;*/
	border:none;
}
#ctl00_MainMenu {
    margin: 0;
    width: 100%;
}
.has-popup {
	position:static !important;
}
#ctl00_MainMenu ul .dynamic a {
	font-size:11px;
	font-weight:normal;
}
#nav ul li ul ul li a {
    font-size: 11px !important;
    font-weight: normal !important;
}
#nav li a:hover {
	/*background:#eeeeee;*/
	color:#333;
}
#nav ul ul:hover {
	display:block !important;
}
#nav ul li a {
	font-size:16px;
	font-weight: normal;
}
#nav li li a:hover, #nav li li a {
	color:#333;
}
/*==== End of main navigation css ====*/
.pager-style a {
    background: none repeat scroll 0 0 #fc5a0a;
    border-radius: 5px;
    -moz-border-radius:5px; 
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    color: #FFFFFF !important;
    font-size: 11px;
    padding: 2px 5px;
    margin-right:3px;
}
.pager-style td {
	padding:5px;
	border: 1px solid #C2C2C2;
}
.pager-style td table td, .pager-style td table {
	padding:0;
	margin:0;
	border:none;
}
.header-style td a, .header-style th a {
    color:#5a5a5a;
    text-decoration:underline; 
}
.line3, #divcap {
	float: left;
    width: 100%; 
}
#divcap1 {
	float: left;
    padding-left: 72px;
    width: 188px;
    padding-bottom: 5px;
}
#divcap {
	padding-bottom:5px;
}
#divcap1 div {
	background:transparent !important;
}
#divcap1 img {
	border: 1px solid #333333;
    width: 184px;
}
/* dashboard css */
.dashboard-main {
	border: medium none !important;
    line-height: 22px;
    margin: auto auto 10px;
    min-height: 35px;
    text-align: left;
    width: 99%;
}
.dashboard-main h2 {
    background: url("images/arrow-black.png") no-repeat scroll 5px 6px #C1E4F8;
    border-radius: 5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
    color: #333;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 5px 3px 26px;
}
.dashboard-main .content {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #ADACAD;
    border-left: 1px solid #ADACAD;
    border-radius: 0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-khtml-border-radius: 0 0 5px 5px;
    border-right: 1px solid #ADACAD;
    padding: 10px;
}
.content-inner {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 5px;
}
.content-inner ul {
	padding:0;
}
.content-inner ul li {
    border-bottom: 1px dotted #CCCCCC;
    list-style-position: inside;
    margin: 0 0 5px;
    padding: 0;
}
.content-inner ul li a {
    font-size: 12px;
    font-weight: bold;
}
.dashboardtdgap {
	color: #FFFFFF;
    font-size: 7px;
    text-align: center;
}
.sortlinksheading {
    color: #FFFFFF !important;
    background: url("images/arrow.png") no-repeat scroll 5px 6px #FA973F !important;
}
/* End of dashboard css */
td.note, td.noteSE {
	color:Red; 
	font-size:11px!important; 
	text-align:right; 
	vertical-align:top
}
td.noteSE {
	text-align:left;
}
.LabelRecept, .item-style td, tr td.item-style, #ctl00_ContentPlaceHolder1_grdmarksentry input {
	/*font-size:12px;*/
}

/*Atul for Multiview tabing*/
/*Push */
@-webkit-keyframes tabg {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes tabg {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tabbing {
	background:url(images/tab-bgg.jpg) repeat-x  left bottom;
	padding: 0 0 7px !important;
	font-family:Verdana, Arial;
    overflow:hidden;
}
.tabg {
    background: #3d591d none repeat scroll 0 0;
    border-left: 1px solid #002a54;
    border-right: 1px solid #002a54;
    border-top: 1px solid #002a54;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff !important;
    display: block;
    float: left;
    font-size: 11px;
    margin-right: 3px;
    text-align: center;
    padding: 4px 7px 80px 7px; 
    text-decoration: none;
    margin-bottom: -80px;
}
.tabg:hover {
	background:#56782f;
	color:#fff !important;
	border-left: 1px solid #4b7021;
    border-top: 1px solid #4b7021;
    border-right: 1px solid #4b7021;
}
.tabg-selected {
	background:#fc5a0a;
	color:#fff !important;
	border-left: 1px solid #db4800;
    border-top: 1px solid #db4800;
    border-right: 1px solid #db4800;
}
.tabg-selected {
	padding:3px 10px;
	display:block;
	float:left;
	margin-right:5px;
	font-weight:bold;
	text-decoration:none;
	font-size:11px;
}
.tabgs {
	background: #ff9600 none repeat scroll 0 0;
    border-left: 1px solid #f08d00;
    border-top: 1px solid #f08d00;
    border-right: 1px solid #f08d00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	color:#fff !important;
	padding:4px 7px 80px 7px;
	display:block;
	float:left;
	text-align: center;
	margin-right:3px;
	text-decoration:none;
	font-size:11px;
    margin-bottom: -80px;
}
.tabgs:hover {
	background:#ff6f28;
}
/*== help css ==*/
.helpbtn {
    background: #4b7021 none repeat scroll 0 0;
    float: right;
    padding: 5px 20px;
}
.dvHelp {
    background: #ffffff none repeat scroll 0 0;
    border: 15px solid #3d335d;
    border-radius: 5px;
    height: 350px;
    left: 18%;
    overflow-y: scroll;
    padding: 5px;
    position: absolute;
    text-align: left;
    top: 17%;
    width: 790px;
    z-index: 999999;
}
.dvHelp p {
    margin: 5px 0;
    padding: 0;
    font-family:Arial !important;
    font-size:11px !important;
    text-align: left !important;
}
.closebtn {
	background: url("images/closebutton.png") no-repeat scroll 0 0;
	width: 22px;
	height: 22px;
	float: right;
	font-size: 0;
	cursor:pointer;
	position: absolute;
	text-align: right;
	right: 11px;
	top: 9px;
}
.helpheading {
	background: url("images/help-1.png") no-repeat scroll 5px 2px #3d335d;
    border-radius: 5px;
	height: 30px;
	margin-bottom:5px;
	padding-left: 39px;
	color: #fff;
	line-height: 28px;
	font-size: 15px;
	font-weight: bold;
}
.grayout {
	background: url("images/overlay.png") repeat scroll 0 0;
	width: 100%;
	left: 0;
	height: 100% !important;
	position: absolute;
	top: 0 !important; 
	z-index: 99999;
}
.pager-style table {
	float:none;
}
/* Alert box css */
.alerts a:visited {
	color:#b39800;
}
.alerts {
	margin-top: 15px;
	border: solid 1px #198acb;
    background: #E8F1F8;
	padding-bottom: 5px;
	border-radius: 5px;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* KHTML */
}
.alerts h4 {
	color: #000;
	font-weight: bold;
	border-bottom: solid 1px #000;
	background: url("images/alerts.gif") no-repeat scroll 0 5px;
	padding-bottom: 4px;
	width: 95%;
	padding-left: 25px;
	padding-top: 7px;
}
/* End of alert box css */
.newshortlink {
    border-bottom: 1px solid #027AAE;
    float: left;
    margin-bottom: 4px;
    padding-bottom: 9px;
    padding-top: 3px;
    width: 100%;
}
.newshortlink ul {
	float:left;
	padding:0;
	margin:0;
	width:100%;
}
.newshortlink ul li {
    color: #000000;
    float: left;
    font-size: 13px;
    font-weight: bold;
    list-style: none outside none;
    margin: 0 20px 0 0;
    padding: 0;
}
.newshortlink ul li a {
	color:Black;
	text-decoration:underline;
}
.newshortlink ul li a:hover {
	text-decoration:none;
}
/* main.aspx page css */
.mainpage {
    margin: 10px auto 0;
    width: 1000px;
}
.maincontent-inner {
	background: url("images/middle-strip.png") repeat-y scroll center top transparent;
	float:left;
}
/*End of main.aspx page css */
.google-visualization-orgchart-node {
    border: 1px solid #E98001;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}
#chart_div {
    float: left;
    padding: 4% 0 0 16%;
    width: 820px;
}
/* offline module css */
.mastofflinecontent {
    float:left;
    width:775px;
}
.wr-right {
    float:right;
    width:200px;
}
.wr-right td, .wr-right td a, .wr-right td h5, .mastofflinecontent .new-table .vtext {
    font-size:11px;
}
.textboxoffline {
	margin: 2px 0 2px 0;
	padding: 1px 0 1px 2px;
	border: 1px solid #666;
	width: 100px;
	font-size: 11px;
}
.mastofflinecontent .header-style td {
    font-size:10px;
}
/* offline module css */
/* module page css */
.leftmodule {
    border: 1px solid #027AAE;
    float: left;
    margin-top: 5px;
    padding: 2px;
    width: 189px;
}
.leftmodule ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.leftmodule li {
    background: url("images/module-bg-left.jpg") repeat-x scroll 0 0 #ececec;
    border: 1px solid #E5E5E5;
    float: left;
    font-size: 12px;
    margin: 0 0 1px;
    text-align:left;
    padding: 5px;
    line-height: 22px;
    width: 177px;
}
.leftmodule li a {
	color:#2f2f2f;
}
.leftmodule li a img {
	float:left;
	margin:0 5px 0 0;
	width:22px;
}
/*.leftmodule li a:hover {
	color:#8b4513;
}
.leftmodule li:hover {
    background: url("images/module-bg-hover.jpg") repeat-x scroll 0 0 #ffda6d;
    border: 1px solid #e4ab02;
    border-right:8px solid #e4ab02;
    width: 170px;
} reason is pie chart is not visible on ie mouse hover */
.mheading {
    border-bottom: 1px solid #198ACB;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
}
/* div show hide css */
.use-sidebar .devide {
    float: left;
    margin-left: 2px;
    margin-right: 0;
}
.devide {
    margin-right: 2px;
    margin-top: 3.9%;
    float:left;
    width: 9px;
}
.use-sidebar #button-toggle {
    background: url("images/left.png") no-repeat scroll 0 0 transparent;
}
#button-toggle {
    background: url("images/right.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    font-size: 0;
    height: 178px;
    width: 9px;
}
.use-sidebar #sidebar {
    display: block;
    float: left;
    width: 196px;
}
#sidebar {
    display: none;
}
.use-sidebar .moduledashboard {
    float: left;
    padding-left: 3px;
    width: 767px;
}
.moduledashboard {
    float: left;
    padding-left: 3px;
    width: 960px;
}

/* End of div show hide css */
/* End of module page css */
input[type="text"], textbox, textarea, select, input[type="password"] {
    border-radius: 5px;
    -moz-border-radius:5px;
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;
    font-family:Verdana, Arial;
    font-size:11px;
    padding:5px;
    border:1px solid #999999;
}
input[type="text"]:focus, textbox:focus, textarea:focus, select:focus, input[type="password"]:focus {
	border:solid 1px #66afe9;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	outline:0;
	
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)
}
input[type="checkbox"]:focus {
	outline:0 !important;
}
.brdcums {
    border: 1px solid #4b7021;
    border-radius: 5px;
    margin-top: 3px;
    color: #666;
    float: left;
    font-family: Verdana,Arial;
    font-size: 11px;
    width: 100%;
}
.brdcums span  {
   text-decoration: underline;
   cursor: pointer;
}
.brdcums span:hover {
    text-decoration: none;
}
.brdcums marquee {
	float:left;
	width:100%;
}
.brdcums marquee font {
	color:#d13432;
}
.headermainfix {
    left: 0;
    margin-left: 1%;
    position: fixed; 
    top: 0;
    width: 98%;
    background: url("images/top-fix-header.jpg") repeat-x scroll 0 0 transparent;
    z-index:9999;
    /*-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);*/
}
.popupbox .tablesubheading {
	padding: 4px 0;
}
.dicon {
    left: -50px;
    position: absolute;
    top: 7px; 
    width: 35px; 
}
.dashheading, .dashheading1, .dashheading2, .dashheading3 {
    color: #FFFFFF;
    font-family: arial;
    font-size: 18px;
    font-weight: normal;
    padding: 12px;
    border-radius: 5px;
    position:relative;
}
.dashheading {
    background: none repeat scroll 0 0 #fd836b ;
    border-left: 65px solid #e3634a;
} 
.dashheading1 {
    background: none repeat scroll 0 0 #a0d468;
    border-left: 65px solid #80bc3f; 
}
.dashheading2 { 
    background: #43c9b4 none repeat scroll 0 0;
    border-left: 65px solid #2cb29d;
}
.dashheading3 {
    background: none repeat scroll 0 0 #5db2ff;
    border-left:#3f98e8 solid 65px;
}
.smartalerts1 { 
    background: #ffe2b9 none repeat scroll 0 0;
    border-left: 65px solid #edad51;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
    min-height: 37px;
    padding: 10px;
    position: relative;
}
.dasicon {
    left: -53px;
    position: absolute;
    top: 9px;
    width: 40px;
}
.numvaluedash {
    float: left;
    margin-bottom: 4px; 
    margin-right: 25px;
}
.buttontolinkbutton { 
    background: transparent none repeat scroll 0 0;
    border: medium none; 
    color: #ff0000;
    cursor: pointer;
    display: inline-block; 
    width: 22%;
    text-align: left;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    text-decoration: underline;
    margin-left: 10px;
}
.erploginpage {
    background: #dcd0ba url("images/admin-bg.jpg") repeat-x  fixed center 0;
    background-size:100% 100%;
}

.logincontainer {
    margin:0  auto;
    width: 671px;
}
.logincontainerinner {
    background: #264609 url("images/login-bg.png") no-repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 8px #666;
    float: left;
    padding: 10px;
    width: 652px;
    color:#fff;
}
.logincontainerinner p {
    color:#fff;
    font-size:12px;
    font-family:Arial;
    text-align:left;
    padding:0;
    font-weight:bold;
}
.a-btn {
    display: block;
    padding-top: 24px;
}
/*Download Css Menu*/
.glcl ul li.downloadicon {
    background: url("Images/download-1.png") no-repeat scroll 4px 3px;
}
.glcl ul li.downloadicon .downloadicon {
    background: url("Images/download-1.png") no-repeat scroll 6px 8px;
}
/* DD MENU CSS*/
.menu,
.menu ul,
.menu li,
.menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* Menu */
.menu {	
	height: 32px;
}

.menu li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 32px;
}
/* Links */
.menu li a {
	display: block;
	line-height: 17px;
	text-decoration: none;
	margin-top:2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
/*.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }*/
.menu li:hover > a { color: #fcff00; }
/* Sub Menu */
.menu ul {
	position: absolute;
	top: 32px;
	left: 0;
	opacity: 0;
	background: #ff7200;
    z-index: 2147483647 !important;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}
.menu li:hover > ul { opacity: 1; }
.menu ul li {
	height: 0;
	overflow: hidden;

	padding: 0;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}
.menu li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}
.menu ul li a {
	padding: 9px 0 4px 30px;
    width: 175px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #ccc;
}
.menu ul li:last-child a { border: none; }
.toggle-button {
    display:none;
}
.toggle-button {
    background: url('Images/toggle-icon.png') no-repeat scroll 0 0;
    width: 33px;
    height: 26px;
    border: 0;
    margin-top: 2px;
    cursor:pointer;
}
.headersecondnav {
    display:none;
}

/*custom css on 10-09-18 for mobile menu*/
nav-fostrap {display: block;  margin-bottom: 15px 0;  background: #03A9F4;  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  border-radius: 3px;}

.nav-fostrap ul {  list-style-type: none;  margin: 0;  padding: 0;  display: block;}
.nav-fostrap li {  list-style-type: none;  margin: 0;  padding: 0;  display: inline-block;  position: relative;  color: #def1f0;}
.nav-fostrap li a {   color: #def1f0;  display: inline-block;  outline: 0;  font-weight: 400;}
.nav-fostrap li:hover ul.dropdown { display: block; }
.nav-fostrap li ul.dropdown {  position: absolute;  display: none;  width: 200px;  background: #2980B9;  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  padding-top: 0;}
.nav-fostrap li ul.dropdown li {  display: block;  list-style-type: none;}
.nav-fostrap li ul.dropdown li a {  padding: 15px 20px;  font-size: 15px;  color: #fff;  display: block;  font-weight: 400;}
.nav-fostrap li ul.dropdown li:last-child a { }
.nav-fostrap li:hover a {  }
.nav-fostrap li:first-child:hover a { }
.nav-fostrap li ul.dropdown li:hover a {}
.nav-fostrap li ul.dropdown li:first-child:hover a { }
.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }
.arrow-down {  width: 0;  height: 0;  border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-top: 5px solid #def1f0;  position: relative;  top: 15px;  right: -5px;  content: '';}
.title-mobile {  display: none;}
.fixed-top {  position: fixed;  top: 0;  right: 0;  left: 0;} 
/*Custom Media Query for mobile max-width:640px and min-width:320px*/
@media (max-width:736px) and (min-width:320px) {
    .headermain h1 {display:none;}
    .headermain .mytab {padding-top: 60px;}
    .login-pg-logo img {
        width:320px;
    }
    .logincontainer, .logincontainerinner {
        width:100%;
    }
    .login-pg-logo-new {
        width:265px;
    }
    .form-login {
        margin: 0 auto;
    }
    .mobile_form tr td {
        display:block;
        padding:2px !important;
        text-align:left;
        width: 100% !important;
    }
    .mobile_form .tableheading {
        margin:0;
    }
    .mobile_form .colon {
        display:none;
    }
    .textboxlong, .textbox, .textboxmultiline, .textboxdate {
        width:90%;
    }
    .gridiv {
        overflow: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        width: 100%;
    } 
    .grid-div {
        overflow: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        width: 100%;
    } 
    .grid-div .DivStyleWithScroll {
        overflow: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        width:100% !important;
    }
    #body .body-form .grid-div table tr td {
         display: revert !important;
        width: auto !important; 
    }
    .headermainfix {
        position:static;
        background: #3d591e;
    }
    body.backgroundmaster {
        background: url(images/body-bg.jpg) repeat-x scroll 0 0 transparent;
    }
    #nav {
        height: auto;
    }
    .header {
        height:auto;
    }
    .inside-pg-logo img {
        width:296px;
    }
    .logo {
        display:none;
    }
    .glcl {
       width: 100%;
       padding-top: 55px;
       background: #3d591e;
    }
    .glcl ul {
        width: 98%;
        height: auto;
        padding: 0 1%;
    }
    .menu li {
        height:auto;
    }
    .toggle-button {
        display:none;
    }
    .maincontent {
        float: left;
        margin: 0 auto;
        padding-top: 5px;
    }
    .dashboardtblmain tr td {
        display:block;
        width:100%;
    }
    .dashboardmain {
        width:96%;
    }
    .dvHelp {
        width: 84%;
        left: 1%;
    }
    .popupboxouter {
        width: 100%;
    }
    .popupbox {
        width: 83%;
    }
    /*for Form level*/
    .body-form table.table tr td, .body-form table.secContent tr td, .body-form .chartcategory table tr td {
        display:block!important;
        width:100% !important;
        text-align:left;
        margin:0;
    }
    .body-form table tr td table tr td {
        display:block!important;
        width:100% !important;
        text-align:left;
        margin:0;
    }
    .vtext {
        text-align:left;
    }
    .colon {
        display:none !important;
    }
    /*for grid level*/
    .body-form table.table tr td table tr td {
        display: table-cell;
        width: auto !important;
    }
    .body-form table.table tr td div {
        width: 100%;
        margin-bottom: 15px;
        overflow: scroll;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    } 
    .textbox, .dropdownvvlong, .dropdownlong, .dropdown, input[type="text"], .dropdownmedium, textarea, .gdropdownverylong, .dropdownverylong, input[type="password"]{padding:4px 0px;width: 90% !important; max-width: 225px;border: 1px #777 solid;}
    .body-form table td .pager-style td table,
    .body-form table tr:last-child .pager-style td table { width:auto !important; position:absolute;}
    .body-form table td .pager-style td{display:block; float: left; margin-right:5px;}
    .required span{ }
    .body-form table .tdgap table tr td {display:block; width:100% !important; text-align:left; margin:0;}
    .body-form table tr td.vtext { display: block !important; } 


    /*for mobile Menu*/
    .maincontent{margin-top:60px;}
    .nav-fostrap{  background: #fff;  width: 220px !important;  height: 100%;  display: block;  position: fixed;  left: -220px;  top: 0px;  -webkit-transition: left 0.25s ease;  -moz-transition: left 0.25s ease;  -ms-transition: left 0.25s ease;  -o-transition: left 0.25s ease;  transition: left 0.25s ease;  margin: 0;  border: 0;  border-radius: 0;  overflow-y: auto;  overflow-x: hidden;  height: 100%; z-index:1;}
    .title-mobile {  position: fixed;  display: block;    top: 10px;    font-size: 20px;    left: 100px;    right: 100px;    text-align: center;    color: #FFF;}
    .nav-fostrap.visible {  left: 0px;  -webkit-transition: left 0.25s ease; -moz-transition: left 0.25s ease;  -ms-transition: left 0.25s ease;  -o-transition: left 0.25s ease;  transition: left 0.25s ease;}
    .nav-bg-fostrap {display: inline-block;vertical-align: middle;width: 100%;height: 50px;margin: 0;position: absolute;top: 0px;left: 0px;background: #39531c;padding: 12px 0 0 10px;-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);-ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);-o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);z-index:9;box-sizing:  border-box;}
    .navbar-fostrap {display: inline-block;vertical-align: middle;height: 27px;cursor: pointer;margin: 0;position: absolute;top: 0;left: 0;padding: 12px;}
    .navbar-fostrap span {  height: 2px;  background: #fff;  margin: 5px;  display: block;  width: 20px;}
    .navbar-fostrap span:nth-child(2) { width: 20px; }
    .navbar-fostrap span:nth-child(3) { width: 20px; }
    .nav-fostrap.visible ul {padding-top: 60px !important;}
    .nav-fostrap.visible li {display: block;width: 100%;background: #fff !important;border-top: 1px #ccc solid !important;padding: 0px !important;border-left: 0 !important;}
    .nav-fostrap.visible ul ul{padding-top:0px !important; position:static !important;margin-left: 0px !important;}
    .nav-fostrap.visible li a{font-size:13px !important;padding: 10px 5px !important;}
    #nav li li{width:100% !important;}
    #ctl00_MainMenu a.popout-dynamic{background: #1184b9 !important;}
    .nav-fostrap.visible li ul li{background: #03a9f4 !important;}
    #nav li a:hover {  background: #fff !important;color: #000 !important; }
    #nav li li a:hover {  color: #fff !important;}

    .nav-fostrap li a {  display: block;  color: #505050;  font-weight: 600;}
    .nav-fostrap li:first-child:hover a { border-radius: 0; }
    .nav-fostrap li ul.dropdown { position: relative; }
    .nav-fostrap li ul.dropdown li a {   border-bottom: none;  color: #fff !important;}
    .nav-fostrap li li:hover a, .nav-fostrap li li a {   color: #fff !important;}
    .nav-fostrap li ul.dropdown li:hover a {   color: #fff !important;}
    .nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }
    #Anthem_ctl00_ContentPlaceHolder1_DataList1__ table tr td{ float:left; width:50% !important; text-align:center;}
    #Anthem_ctl00_ContentPlaceHolder1_DataList1__ table tr td .hoverbox td{ width:100% !important; }
}
/*End of media css diffrent resolutions*/