{% extends "base.html" %}
{% block content %}
<form method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
    
    <table border="0" class="form-table" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td colspan="3" class="tableheading">
                    <span class="mainheadingborderbottom">Fetch Password</span>
                </td>
            </tr>
            <tr><td colspan="3" height="10"></td></tr>
            <tr>
                <td class="vtext" width="15%">Select User</td>
                <td class="colon" width="2%">:</td>
                <td>
                    <select name="target_user_id" class="dropdownlong" required>
                        <option value="">-- Select User --</option>
                        {% for u in users_list %}
                            <option value="{{ u.id }}" {% if selected_user_id and (selected_user_id|string)==(u.id|string) %}selected{% endif %}>{{ u.loginname }}</option>
                        {% endfor %}
                    </select>
                    <span style="margin-left:15px;"></span>
                    <input type="submit" value="VIEW" class="button-common">
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% if password_info %}
<table border="0" class="form-table" width="100%" cellspacing="0" cellpadding="0" style="margin-top:20px;">
    <tbody>
        <tr>
            <td class="tablesubheading">
                <span class="subheadingborderbottom">Password Details</span>
            </td>
        </tr>
        <tr><td height="10"></td></tr>
        <tr>
            <td>
                <table class="table-grid-view" width="100%" cellspacing="1" cellpadding="1" border="1" style="border-collapse:collapse;">
                    <tr>
                        <th class="header-style" align="left" width="200">Login Name</th>
                        <td>{{ password_info.loginname }}</td>
                    </tr>
                    <tr>
                        <th class="header-style" align="left">Plain Text Password</th>
                        <td><b style="color:red; font-size:14px;">{{ password_info.plain_text or 'N/A' }}</b></td>
                    </tr>
                    <tr>
                        <th class="header-style" align="left">SHA1 Hash</th>
                        <td style="font-family:monospace; font-size:11px;">{{ password_info.password_hash or '' }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}
