{% extends 'base.html' %}

{% block content %}
<div class="col-12">
    <div class="card card-hau">
        <div class="tablesubheading">Grade Master</div>
        <div class="card-body p-3">
            <form method="POST">
                <input type="hidden" name="edit_id" value="{{ edit_data.pk_gradeid if edit_data else '' }}">
                
                <table width="100%" cellpadding="3" cellspacing="0">
                    <tr>
                        <td class="vtext" width="15%">Grade Name <span class="text-danger">*</span></td>
                        <td class="colon">:</td>
                        <td width="34%">
                            <input type="text" class="textbox" name="name" value="{{ edit_data.gradename if edit_data else '' }}" required>
                        </td>
                        <td class="vtext" width="15%">Grade Pay <span class="text-danger">*</span></td>
                        <td class="colon">:</td>
                        <td width="34%">
                            <input type="text" class="textbox" name="pay" value="{{ edit_data.gradepay if edit_data else '' }}" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="vtext">Increment Type <span class="text-danger">*</span></td>
                        <td class="colon">:</td>
                        <td>
                            <select class="dropdown" name="inc_type" required>
                                <option value="P" {% if edit_data and edit_data.inctype=='P' %}selected{% endif %}>Percent</option>
                                <option value="A" {% if edit_data and edit_data.inctype=='A' %}selected{% endif %}>Fix Amount</option>
                            </select>
                        </td>
                        <td class="vtext">Grade Code/Level</td>
                        <td class="colon">:</td>
                        <td>
                            <input type="text" class="textbox" name="code" value="{{ edit_data.gradecode if edit_data else '' }}">
                        </td>
                    </tr>
                    <tr>
                        <td class="vtext">Remarks</td>
                        <td class="colon">:</td>
                        <td colspan="4">
                            <input type="text" class="textbox" name="remarks" value="{{ edit_data.remarks if edit_data else '' }}">
                        </td>
                    </tr>
                </table>

                <div class="section-title text-primary fw-bold border-bottom mt-4 mb-3 pb-1" style="font-size: 11px; text-transform: uppercase;">
                    <i class="bi bi-currency-dollar me-2"></i>Grade Amount Detail
                </div>
                
                <table width="100%" cellpadding="3" cellspacing="0">
                    <tr>
                        <td class="vtext" width="15%">G1 <span class="text-danger">*</span></td><td class="colon">:</td>
                        <td width="34%"><input type="text" class="textbox" name="g1" value="{{ edit_data.g1 if edit_data else '' }}" required></td>
                        <td class="vtext" width="15%">G2 <span class="text-danger">*</span></td><td class="colon">:</td>
                        <td width="34%"><input type="text" class="textbox" name="g2" value="{{ edit_data.g2 if edit_data else '' }}" required></td>
                    </tr>
                    <tr>
                        <td class="vtext">Special Pay <span class="text-danger">*</span></td><td class="colon">:</td>
                        <td><input type="text" class="textbox" name="g3" value="{{ edit_data.g3 if edit_data else '' }}" required></td>
                        <td class="vtext">NPA</td><td class="colon">:</td>
                        <td><input type="text" class="textbox" name="g4" value="{{ edit_data.g4 if edit_data else '' }}"></td>
                    </tr>
                    <tr>
                        <td class="vtext">Cyclo-Allowance</td><td class="colon">:</td>
                        <td><input type="text" class="textbox" name="g5" value="{{ edit_data.g5 if edit_data else '' }}"></td>
                        <td class="vtext">Special Allowance</td><td class="colon">:</td>
                        <td><input type="text" class="textbox" name="g6" value="{{ edit_data.g6 if edit_data else '' }}"></td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-center pt-4">
                            <button type="submit" class="btn-hau btn-hau-primary">SAVE</button>
                            <a href="{{ url_for('establishment.grade_master') }}" class="btn-hau btn-hau-secondary ms-2 text-decoration-none d-inline-block">RESET</a>
                        </td>
                    </tr>
                </table>
            </form>

            <hr class="my-3">

            <div class="tablesubheading" style="border-radius: 0;">List of Grades</div>
            <div class="table-responsive">
                <table class="hau-table mt-0">
                    <thead>
                        <tr>
                            <th width="60px">S. No.</th>
                            <th class="text-start">Grade Name</th>
                            <th>Grade Details</th>
                            <th width="100px">Grade Pay</th>
                            <th width="100px">Incr. Type</th>
                            <th width="60px">EDIT</th>
                            <th width="60px">DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for g in grades %}
                        <tr>
                            <td class="text-center">{{ loop.index }}</td>
                            <td class="fw-bold">{{ g.gradename }}</td>
                            <td class="text-center">{{ g.gradedetails or '' }}</td>
                            <td class="text-end">{{ g.gradepay }}</td>
                            <td class="text-center">{{ 'Percent' if g.inctype == 'P' else 'Amount' }}</td>
                            <td class="text-center">
                                <a href="{{ url_for('establishment.grade_master', edit_id=g.id) }}" class="text-decoration-none">
                                    <i class="bi bi-pencil-square text-primary fs-6"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('establishment.delete_grade', id=g.id) }}" class="text-decoration-none text-danger" onclick="return confirm('Are you sure?')">
                                    <i class="bi bi-trash fs-6"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        {% include 'establishment/_pagination.html' %}
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}