{% extends "base.html" %}

{% block breadcrumbs %}
<span>Transactions</span>&nbsp;&gt;&nbsp;<span>Personal Details</span>&nbsp;&gt;&nbsp;<strong>Employee Nominee Details</strong>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="target_emp_id" value="{{ employee_info.pk_empid if employee_info else '' }}">
    <input type="hidden" name="old_nominee_name" value="{{ edit_data.nameofnominee if edit_data else '' }}">

    <!-- SHARED SEARCH MODAL -->
    {% include 'establishment/_search_modal.html' %}

    <table border="0" class="form-table" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td colspan="7" class="tableheading">
                    <span class="mainheadingborderbottom">Employee Details</span>
                </td>
            </tr>
            <tr><td colspan="7" height="15"></td></tr>
            
            <tr>
                <td class="vtext" width="15%">Employee Code</td>
                <td class="colon">:</td>
                <td class="required" width="30%">
                    <input name="empcode" type="text" class="textbox w-150" value="{{ employee_info.empcode if employee_info else '' }}" readonly>
                    <a href="javascript:void(0);" onclick="openEmpSearch('emp_id', '')">
                        <img src="{{ url_for('static', filename='srec.jpg') }}" border="0" style="vertical-align:middle; cursor:pointer;">
                    </a>
                    <span class="required">*</span>
                </td>
                <td width="2%"></td>
                <td class="vtext" width="15%">Employee Name</td>
                <td class="colon">:</td>
                <td width="30%">
                    <input type="text" class="textbox w-250" value="{{ employee_info.empname if employee_info else '' }}" readonly>
                </td>
            </tr>
            <tr>
                <td class="vtext">Department</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-250" value="{{ employee_info.dept_name if employee_info else '' }}" readonly>
                </td>
                <td></td>
                <td class="vtext">Designation</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-250" value="{{ employee_info.designation if employee_info else '' }}" readonly>
                </td>
            </tr>
            <tr>
                <td class="vtext">PF Number</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-150" value="{{ employee_info.pfileno_display if employee_info else '' }}" readonly>
                </td>
                <td></td>
                <td class="vtext">PF Type</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-150" value="{{ employee_info.pftype_desc if employee_info else '' }}" readonly>
                </td>
            </tr>
            <tr>
                <td class="vtext">Remarks</td>
                <td class="colon">:</td>
                <td colspan="5">
                    <input name="remarks" type="text" class="textbox w-500" value="{{ edit_data.remarks if edit_data else '' }}">
                </td>
            </tr>
            
            <tr><td colspan="7" height="20"></td></tr>
            <tr>
                <td colspan="7" class="tablesubheading">
                    <span class="subheadingborderbottom">Employee Nominee Details</span>
                </td>
            </tr>
            <tr><td colspan="7" height="10"></td></tr>
            
            <tr>
                <td class="vtext">Nominee Name</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="nominee_name" type="text" class="textbox w-250" value="{{ edit_data.nameofnominee if edit_data else '' }}" required>
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">Relation</td>
                <td class="colon">:</td>
                <td class="required">
                    <select name="rel_id" class="dropdown w-200" required>
                        <option value="">-- Select Relation --</option>
                        {% for r in lookups.relations %}
                        <option value="{{ r.id }}" {% if edit_data and edit_data.relationship|string == r.id|string %}selected{% endif %}>{{ r.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td class="vtext">Age</td>
                <td class="colon">:</td>
                <td>
                    <input name="age" type="text" class="textbox w-100" maxlength="3" value="{{ edit_data.age if edit_data else '' }}" onkeypress="return isNumberKey(event)">
                </td>
                <td></td>
                <td class="vtext">Share</td>
                <td class="colon">:</td>
                <td>
                    <input name="share" type="text" class="textbox w-100" maxlength="3" value="{{ edit_data.share if edit_data else '' }}" onkeypress="return isNumberKey(event)">
                </td>
            </tr>
            <tr>
                <td class="vtext">Is Minor</td>
                <td class="colon">:</td>
                <td>
                    <input name="is_minor" type="checkbox" value="1" {% if edit_data and edit_data.IsMinor %}checked{% endif %}>
                </td>
                <td></td>
                <td class="vtext">Second Nominee Details</td>
                <td class="colon">:</td>
                <td>
                    <input name="other_details" type="text" class="textbox w-250" value="{{ edit_data.otherdetails if edit_data else '' }}">
                </td>
            </tr>
            <tr>
                <td class="vtext">Nominee Type</td>
                <td class="colon">:</td>
                <td>
                    <select name="nominee_type_id" class="dropdown w-200">
                        <option value="">-- Select Nominee Type --</option>
                        {% for nt in lookups.nominee_types %}
                        <option value="{{ nt.id }}" {% if edit_data and edit_data.fk_headid|string == nt.id|string %}selected{% endif %}>{{ nt.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td></td>
                <td class="vtext">Is Primary</td>
                <td class="colon">:</td>
                <td>
                    <input name="is_primary" type="checkbox" value="1" {% if edit_data and edit_data.isprimary %}checked{% endif %}>
                </td>
            </tr>
            <tr>
                <td class="vtext">Upload Document</td>
                <td class="colon">:</td>
                <td colspan="5">
                    <input type="file" name="document_file" class="textbox w-250">
                    <div style="font-size:11px; font-weight:bold; color:#666;">(Size <= 20MB)</div>
                    {% if edit_data and edit_data.filename %}
                    <div style="margin-top:5px;">
                        Currently: <a href="{{ url_for('static', filename='uploads/employee_nominees/' + edit_data.filename) }}" target="_blank">{{ edit_data.filename }}</a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            
            <tr><td colspan="7" height="20"></td></tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="5">
                    {% if (edit_data and perm.AllowUpdate) or (not edit_data and perm.AllowAdd) %}
                    <input type="submit" name="action" value="{{ 'UPDATE' if edit_data else 'SAVE' }}" class="button-common">
                    {% endif %}
                    <input type="submit" name="action" value="RESET" class="button-common" formnovalidate>
                </td>
            </tr>
            
            {% if employee_info %}
            <tr><td colspan="7" height="30"></td></tr>
            <tr>
                <td colspan="7" class="tablesubheading">
                    <span class="subheadingborderbottom">List of Employee Nominee Details</span>
                </td>
            </tr>
            <tr><td colspan="7" height="10"></td></tr>
            
            <tr>
                <td colspan="7">
                    <table class="table-grid-view" width="100%" cellspacing="1" cellpadding="1" border="1">
                        <thead>
                            <tr class="header-style">
                                <th width="5%">S. No.</th>
                                <th width="25%">Nominee Name</th>
                                <th width="15%">Relationship</th>
                                <th width="8%">Age</th>
                                <th width="8%">Share</th>
                                <th width="10%">Nominee Type</th>
                                <th width="8%">Primary</th>
                                <th width="8%">EDIT</th>
                                <th width="8%">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for n in nominees %}
                            <tr class="{% if loop.index % 2 == 0 %}item-style-alt{% else %}item-style{% endif %}">
                                <td align="center">{{ loop.index }}</td>
                                <td>{{ n.nameofnominee }}</td>
                                <td>{{ n.relation_name }}</td>
                                <td align="center">{{ n.age }}</td>
                                <td align="center">{{ n.share }}</td>
                                <td>{{ n.nominee_type_name }}</td>
                                <td align="center">{{ 'YES' if n.isprimary else 'NO' }}</td>
                                <td align="center">
                                    <a href="{{ url_for('establishment.employee_nominee_details', emp_id=emp_id, edit_name=n.nameofnominee) }}">
                                        <img src="{{ url_for('static', filename='images/Edit.gif') }}" alt="Edit">
                                    </a>
                                </td>
                                <td align="center">
                                    {% if perm.AllowDelete %}
                                    <a href="{{ url_for('establishment.employee_nominee_details', emp_id=emp_id, delete_name=n.nameofnominee) }}" onclick="return confirm('Are you sure you want to delete this nominee?')">
                                        <img src="{{ url_for('static', filename='images/Delete.gif') }}" alt="Delete">
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            <tr><td colspan="9" align="center" style="padding:10px;">No nominee details found.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block extra_js %}
<script>
    function selectItem(id, name) {
        window.location.href = "{{ url_for('establishment.employee_nominee_details') }}?emp_id=" + id;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
{% endblock %}
