{% extends "base.html" %}

{% block breadcrumbs %}
<span>Transactions</span>&nbsp;&gt;&nbsp;<span>Increment/Promotion</span>&nbsp;&gt;&nbsp;<strong>Emp Increment Payrevision</strong>
{% endblock %}

{% block content %}
<form method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="target_emp_id" value="{{ employee_info.pk_empid if employee_info else '' }}">
    <input type="hidden" name="pid" value="{{ edit_data.id if edit_data else '' }}">
    <input type="hidden" name="promo_type" value="I">

    <!-- SHARED SEARCH MODAL -->
    {% include 'establishment/_search_modal.html' %}

    <table border="0" class="form-table" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td colspan="7" class="tableheading">
                    <span class="mainheadingborderbottom">Emp Increment Payrevision Details</span>
                </td>
            </tr>
            <tr><td colspan="7" height="15"></td></tr>
            
            <tr>
                <td class="vtext" width="15%">Employee Code</td>
                <td class="colon">:</td>
                <td class="required" width="30%">
                    <input name="empcode" type="text" class="textbox w-150" value="{{ employee_info.empcode if employee_info else '' }}" readonly>
                    <a href="javascript:void(0);" onclick="openEmpSearch('emp_id', '')">
                        <img src="{{ url_for('static', filename='srec.jpg') }}" border="0" style="vertical-align:middle; cursor:pointer;">
                    </a>
                    <span class="required">*</span>
                </td>
                <td width="2%"></td>
                <td class="vtext" width="15%">Employee Name</td>
                <td class="colon">:</td>
                <td width="30%">
                    <input type="text" class="textbox w-250" value="{{ employee_info.empname if employee_info else '' }}" readonly>
                </td>
            </tr>
            <tr>
                <td class="vtext">Department</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-250" value="{{ employee_info.dept_name if employee_info else '' }}" readonly>
                </td>
                <td></td>
                <td class="vtext">Designation</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-250" value="{{ employee_info.designation if employee_info else '' }}" readonly>
                </td>
            </tr>
            
            <tr><td colspan="7" height="10"></td></tr>
            <tr>
                <td class="vtext">Status</td>
                <td class="colon">:</td>
                <td class="required">
                    <select name="status" class="dropdown w-200" required>
                        <option value="I" {% if edit_data and edit_data.ptstatus == 'I' %}selected{% endif %}>Annual Increment</option>
                        <option value="A" {% if edit_data and edit_data.ptstatus == 'A' %}selected{% endif %}>ACP</option>
                        <option value="V" {% if edit_data and edit_data.ptstatus == 'V' %}selected{% endif %}>Revision</option>
                        <option value="PP" {% if edit_data and edit_data.ptstatus == 'PP' %}selected{% endif %}>Personal Pay</option>
                    </select>
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">Increment Date</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="dated" type="text" class="textboxdate w-150" value="{{ edit_data.dated_fmt if edit_data else '' }}" required placeholder="DD/MM/YYYY">
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td class="vtext">Order No.</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="order_no" type="text" class="textbox w-200" value="{{ edit_data.promotioncode if edit_data else '' }}" required>
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">Order Date</td>
                <td class="colon">:</td>
                <td>
                    <input name="order_date" type="text" class="textboxdate w-150" value="{{ edit_data.order_date_iso if edit_data else '' }}" placeholder="DD/MM/YYYY">
                </td>
            </tr>
            
            <tr><td colspan="7" height="10"></td></tr>
            <tr>
                <td class="vtext">Pay Band (Old)</td>
                <td class="colon">:</td>
                <td><input name="old_pb" type="text" class="textbox w-150" value="{{ edit_data.earlierincamt if edit_data else '' }}"></td>
                <td></td>
                <td class="vtext">Pay Band (New)</td>
                <td class="colon">:</td>
                <td><input name="new_pb" type="text" class="textbox w-150" value="{{ edit_data.newincamt if edit_data else '' }}"></td>
            </tr>
            <tr>
                <td class="vtext">Pay Scale (Old)</td>
                <td class="colon">:</td>
                <td><input name="old_scale" type="text" class="textbox w-250" value="{{ edit_data.earlierspecialpay if edit_data else '' }}"></td>
                <td></td>
                <td class="vtext">Pay Scale (New)</td>
                <td class="colon">:</td>
                <td><input name="new_scale" type="text" class="textbox w-250" value="{{ edit_data.newspecialpay if edit_data else '' }}"></td>
            </tr>
            <tr>
                <td class="vtext">Basic (Old)</td>
                <td class="colon">:</td>
                <td><input name="old_basic" type="text" class="textbox w-150" value="{{ edit_data.earlierbasic if edit_data else '0' }}"></td>
                <td></td>
                <td class="vtext">Basic (New)</td>
                <td class="colon">:</td>
                <td><input name="new_basic" type="text" class="textbox w-150" value="{{ edit_data.newbasic if edit_data else '0' }}"></td>
            </tr>
            <tr>
                <td class="vtext">Grade Pay (Old)</td>
                <td class="colon">:</td>
                <td><input name="old_gp" type="text" class="textbox w-150" value="{{ edit_data.earliergradepay if edit_data else '0' }}"></td>
                <td></td>
                <td class="vtext">Grade Pay (New)</td>
                <td class="colon">:</td>
                <td><input name="new_gp" type="text" class="textbox w-150" value="{{ edit_data.newgradepay if edit_data else '0' }}"></td>
            </tr>
            <tr>
                <td class="vtext">Special Pay (Old)</td>
                <td class="colon">:</td>
                <td><input name="old_sp" type="text" class="textbox w-150" value="{{ edit_data.description1 if edit_data else '0' }}"></td>
                <td></td>
                <td class="vtext">Special Pay (New)</td>
                <td class="colon">:</td>
                <td><input name="new_sp" type="text" class="textbox w-150" value="{{ edit_data.newworkdetails if edit_data else '0' }}"></td>
            </tr>
            <tr>
                <td class="vtext">NPA (Old)</td>
                <td class="colon">:</td>
                <td><input name="old_npa" type="text" class="textbox w-150" value="{{ edit_data.description2 if edit_data else '0' }}"></td>
                <td></td>
                <td class="vtext">NPA (New)</td>
                <td class="colon">:</td>
                <td><input name="new_npa" type="text" class="textbox w-150" value="{{ edit_data.description2 if edit_data else '0' }}"></td>
            </tr>
            <tr>
                <td class="vtext">Remarks</td>
                <td class="colon">:</td>
                <td colspan="5">
                    <textarea name="remarks" class="textbox w-500" rows="2">{{ edit_data.remarks if edit_data else '' }}</textarea>
                </td>
            </tr>
            
            <tr><td colspan="7" height="20"></td></tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="5">
                    {% if (edit_data and perm.AllowUpdate) or (not edit_data and perm.AllowAdd) %}
                    <input type="submit" name="action" value="{{ 'UPDATE' if edit_data else 'SAVE' }}" class="button-common">
                    {% endif %}
                    <input type="submit" name="action" value="RESET" class="button-common" formnovalidate>
                </td>
            </tr>
            
            {% if employee_info %}
            <tr><td colspan="7" height="30"></td></tr>
            <tr>
                <td colspan="7" class="tablesubheading">
                    <span class="subheadingborderbottom">List of Increment / Pay Revision Details</span>
                </td>
            </tr>
            <tr><td colspan="7" height="10"></td></tr>
            
            <tr>
                <td colspan="7">
                    <table class="table-grid-view" width="100%" cellspacing="1" cellpadding="1" border="1">
                        <thead>
                            <tr class="header-style">
                                <th width="5%">S. No.</th>
                                <th width="20%">Order No.</th>
                                <th width="15%">Date</th>
                                <th width="15%">Old Basic</th>
                                <th width="15%">New Basic</th>
                                <th width="10%">EDIT</th>
                                <th width="10%">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in increments %}
                            <tr class="{% if loop.index % 2 == 0 %}item-style-alt{% else %}item-style{% endif %}">
                                <td align="center">{{ loop.index }}</td>
                                <td>{{ i.promotioncode }}</td>
                                <td align="center">{{ i.dated_fmt }}</td>
                                <td align="right">{{ i.earlierbasic }}</td>
                                <td align="right">{{ i.newbasic }}</td>
                                <td align="center">
                                    <a href="{{ url_for('establishment.employee_increment_payrevision', emp_id=emp_id, edit_id=i.id) }}">
                                        <img src="{{ url_for('static', filename='images/Edit.gif') }}" alt="Edit">
                                    </a>
                                </td>
                                <td align="center">
                                    {% if perm.AllowDelete %}
                                    <a href="{{ url_for('establishment.employee_increment_payrevision', emp_id=emp_id, delete_id=i.id) }}" onclick="return confirm('Are you sure?')">
                                        <img src="{{ url_for('static', filename='images/Delete.gif') }}" alt="Delete">
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            <tr><td colspan="7" align="center" style="padding:10px;">No records found.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block extra_js %}
<script>
    function selectItem(id, name) {
        window.location.href = "{{ url_for('establishment.employee_increment_payrevision') }}?emp_id=" + id;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
            return false;
        return true;
    }
</script>
{% endblock %}
