{% extends "base.html" %}

{% block breadcrumbs %}
<span>Transactions</span>&nbsp;&gt;&nbsp;<span>Job Details</span>&nbsp;&gt;&nbsp;<strong>Employee Previous Job Details</strong>
{% endblock %}

{% block content %}
<form method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="target_emp_id" value="{{ employee_info.pk_empid if employee_info else '' }}">
    <input type="hidden" name="job_id" value="{{ edit_data.id if edit_data else '' }}">

    <!-- SHARED SEARCH MODAL -->
    {% include 'establishment/_search_modal.html' %}

    <table border="0" class="form-table" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td colspan="7" class="tableheading">
                    <span class="mainheadingborderbottom">Employee Previous Job Details</span>
                </td>
            </tr>
            <tr><td colspan="7" height="15"></td></tr>
            
            <tr>
                <td class="vtext" width="15%">Employee Code</td>
                <td class="colon">:</td>
                <td class="required" width="30%">
                    <input name="empcode" type="text" class="textbox w-150" value="{{ employee_info.empcode if employee_info else '' }}" readonly>
                    <a href="javascript:void(0);" onclick="openEmpSearch('emp_id', '')">
                        <img src="{{ url_for('static', filename='srec.jpg') }}" border="0" style="vertical-align:middle; cursor:pointer;">
                    </a>
                    <span class="required">*</span>
                </td>
                <td width="2%"></td>
                <td class="vtext" width="15%">Employee Name</td>
                <td class="colon">:</td>
                <td width="30%">
                    <input type="text" class="textbox w-250" value="{{ employee_info.empname if employee_info else '' }}" readonly>
                </td>
            </tr>
            <tr>
                <td class="vtext">Department</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-250" value="{{ employee_info.dept_name if employee_info else '' }}" readonly>
                </td>
                <td></td>
                <td class="vtext">Present Designation</td>
                <td class="colon">:</td>
                <td>
                    <input type="text" class="textbox w-250" value="{{ employee_info.designation if employee_info else '' }}" readonly>
                </td>
            </tr>
            
            <tr><td colspan="7" height="10"></td></tr>
            <tr>
                <td class="vtext">Previous Department</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="p_dept" type="text" class="textbox w-250" value="{{ edit_data.pdepartment if edit_data else '' }}" required>
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">Previous Location</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="p_location" type="text" class="textbox w-250" value="{{ edit_data.plocation if edit_data else '' }}" required>
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td class="vtext">Previous Designation</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="p_desg" type="text" class="textbox w-250" value="{{ edit_data.desg if edit_data else '' }}" required>
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">Previous Grade</td>
                <td class="colon">:</td>
                <td>
                    <input name="p_grade" type="text" class="textbox w-250" value="{{ edit_data.grade if edit_data else '' }}">
                </td>
            </tr>
            <tr>
                <td class="vtext">Basic Pay</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="basic_pay" type="text" class="textbox w-150" value="{{ edit_data.basicpay if edit_data else '' }}" required onkeypress="return isNumberKey(event)">
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">GP</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="gp" type="text" class="textbox w-150" value="{{ edit_data.dp if edit_data else '' }}" required onkeypress="return isNumberKey(event)">
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td class="vtext">DA</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="da" type="text" class="textbox w-150" value="{{ edit_data.da if edit_data else '' }}" required onkeypress="return isNumberKey(event)">
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">Station</td>
                <td class="colon">:</td>
                <td>
                    <input name="station" type="text" class="textbox w-250" value="{{ edit_data.location if edit_data else '' }}">
                </td>
            </tr>
            <tr>
                <td class="vtext">From Date</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="from_date" type="text" class="textboxdate w-150" value="{{ edit_data.from_date_fmt if edit_data else '' }}" required placeholder="DD/MM/YYYY">
                    <span class="required">*</span>
                </td>
                <td></td>
                <td class="vtext">To Date</td>
                <td class="colon">:</td>
                <td class="required">
                    <input name="to_date" type="text" class="textboxdate w-150" value="{{ edit_data.to_date_fmt if edit_data else '' }}" required placeholder="DD/MM/YYYY">
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td class="vtext">In Service</td>
                <td class="colon">:</td>
                <td>
                    <input name="in_service" type="checkbox" value="1" {% if edit_data and edit_data.inservice %}checked{% endif %}>
                </td>
                <td></td>
                <td class="vtext">Reason for Leaving</td>
                <td class="colon">:</td>
                <td>
                    <textarea name="reason" class="textbox w-250" rows="2">{{ edit_data.reasonsforLeavingJob if edit_data else '' }}</textarea>
                </td>
            </tr>
            <tr>
                <td class="vtext">Career Advancement</td>
                <td class="colon">:</td>
                <td>
                    <input name="carrier" type="text" class="textbox w-250" value="{{ edit_data.Carrier_Advancement if edit_data else '' }}">
                </td>
                <td></td>
                <td class="vtext">Type</td>
                <td class="colon">:</td>
                <td>
                    <input type="radio" name="ca_pf" value="1" id="type_ca" {% if not edit_data or edit_data.CA_PF == '1' %}checked{% endif %}> <label for="type_ca">CA</label>
                    &nbsp;&nbsp;
                    <input type="radio" name="ca_pf" value="2" id="type_pf" {% if edit_data and edit_data.CA_PF == '2' %}checked{% endif %}> <label for="type_pf">PF</label>
                </td>
            </tr>
            
            <tr><td colspan="7" height="20"></td></tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="5">
                    {% if (edit_data and perm.AllowUpdate) or (not edit_data and perm.AllowAdd) %}
                    <input type="submit" name="action" value="{{ 'UPDATE' if edit_data else 'SAVE' }}" class="button-common">
                    {% endif %}
                    <input type="submit" name="action" value="RESET" class="button-common" formnovalidate>
                </td>
            </tr>
            
            {% if employee_info %}
            <tr><td colspan="7" height="30"></td></tr>
            <tr>
                <td colspan="7" class="tablesubheading">
                    <span class="subheadingborderbottom">List of Employee Previous Job Details</span>
                </td>
            </tr>
            <tr><td colspan="7" height="10"></td></tr>
            
            <tr>
                <td colspan="7">
                    <table class="table-grid-view" width="100%" cellspacing="1" cellpadding="1" border="1">
                        <thead>
                            <tr class="header-style">
                                <th width="5%">S. No.</th>
                                <th width="25%">Previous Designation</th>
                                <th width="20%">Previous Grade</th>
                                <th width="15%">From Date</th>
                                <th width="15%">To Date</th>
                                <th width="10%">EDIT</th>
                                <th width="10%">DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for j in jobs %}
                            <tr class="{% if loop.index % 2 == 0 %}item-style-alt{% else %}item-style{% endif %}">
                                <td align="center">{{ loop.index }}</td>
                                <td>{{ j.desg }}</td>
                                <td>{{ j.grade }}</td>
                                <td align="center">{{ j.from_date_fmt }}</td>
                                <td align="center">{{ j.to_date_fmt }}</td>
                                <td align="center">
                                    <a href="{{ url_for('establishment.employee_previous_job_details', emp_id=emp_id, edit_id=j.id) }}">
                                        <img src="{{ url_for('static', filename='images/Edit.gif') }}" alt="Edit">
                                    </a>
                                </td>
                                <td align="center">
                                    {% if perm.AllowDelete %}
                                    <a href="{{ url_for('establishment.employee_previous_job_details', emp_id=emp_id, delete_id=j.id) }}" onclick="return confirm('Are you sure you want to delete this record?')">
                                        <img src="{{ url_for('static', filename='images/Delete.gif') }}" alt="Delete">
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% else %}
                            <tr><td colspan="7" align="center" style="padding:10px;">No previous job details found.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</form>
{% endblock %}

{% block extra_js %}
<script>
    function selectItem(id, name) {
        window.location.href = "{{ url_for('establishment.employee_previous_job_details') }}?emp_id=" + id;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46)
            return false;
        return true;
    }
</script>
{% endblock %}
