{% extends "base.html" %}
{% block content %}
<div class="hau-card">
    <div class="tableheading">
        <span class="mainheadingborderbottom">CHANGE PASSWORD</span>
    </div>

    <div style="padding: 20px;">
        <form method="POST">
            <table class="form-table" width="100%">
                <tr>
                    <td class="vtext" width="20%">Enrollment No.</td><td class="colon">:</td>
                    <td>
                        <input type="text" name="enrollment_no" class="textbox w-200" required> <span class="required">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="vtext">New Password</td><td class="colon">:</td>
                    <td>
                        <input type="text" name="new_password" class="textbox w-200" required> <span class="required">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="vtext">Confirm New Password</td><td class="colon">:</td>
                    <td>
                        <input type="text" name="confirm_password" class="textbox w-200" required> <span class="required">*</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td style="padding-top: 20px;">
                        <input type="submit" value="UPDATE" class="button-common" style="width:120px; background:#3c8dbc; color:white;">
                        <input type="button" value="RESET" class="button-common" onclick="location.reload()" style="margin-left:10px; width:100px;">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
