{% extends "base.html" %}
{% block content %}
<div class="hau-card">
    <div class="tableheading">
        <span class="mainheadingborderbottom">View Password</span>
    </div>

    <div style="padding: 20px;">
        <form method="POST">
            <table class="form-table" width="100%">
                <tr>
                    <td class="vtext" width="15%">Enrollment No.</td><td class="colon">:</td>
                    <td class="required">
                        <input type="text" name="enrollment_no" class="textbox w-200" required value="{{ enrollment_no if enrollment_no else '' }}"> *
                    </td>
                </tr>
                <tr><td colspan="3" style="height:15px;"></td></tr>
                <tr>
                    <td></td><td></td>
                    <td>
                        <input type="submit" name="action" value="Get Password" class="button-common">
                        <input type="button" value="RESET" class="button-common" onclick="location.reload()">
                        <input type="submit" name="action" value="Unprocess" class="button-common">
                        <input type="submit" name="action" value="Unlock Biodata" class="button-common">
                        <input type="submit" name="action" value="Card Entry Submit" class="button-common">
                        <input type="submit" name="action" value="Submit" class="button-common">
                    </td>
                </tr>
                <tr><td colspan="3" style="height:15px;"></td></tr>
                <tr>
                    <td class="vtext">Password</td><td class="colon">:</td>
                    <td>
                        <input type="text" id="display_pass" class="textbox w-200" readonly value="{{ student_password if student_password else '' }}">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% if student_password and action == 'Get Password' %}
<script>
    alert("Password: {{ student_password }}");
</script>
{% endif %}

{% endblock %}
